---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <!-- Breadcrump section Start Here -->
    <section class="section-breadcrumb">
        <!-- Breadcrumb Section Spacer -->
        <div class="breadcrumb-wrapper">
            <!-- Section Container -->
            <div class="container-default">
                <div class="breadcrumb-block">
                    <h1 class="breadcrumb-title">Our Clients</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/">Home</a></li>
                        <li>Our Clients</li>
                    </ul>
                </div>
            </div>
            <!-- Section Container -->

            <!-- Breadcrumb Shape - 1 -->
            <div class="absolute left-0 top-0 -z-10">
                <img
                    src="/assets/img/elements/breadcrumb-shape-1.svg"
                    alt="hero-shape-1"
                    width="291"
                    height="380"
                />
            </div>

            <!-- Breadcrumb Shape - 2 -->
            <div class="absolute bottom-0 right-0 -z-[1]">
                <img
                    src="/assets/img/elements/breadcrumb-shape-2.svg"
                    alt="hero-shape-2"
                    width="291"
                    height="380"
                />
            </div>
        </div>
        <!-- Breadcrumb Section Spacer -->
    </section>
    <!-- Breadcrump section End Here -->

    <!-- Section Start here -->

    <section class="section-about-hero mb-[-10rem]">
        <div class="relative z-10 overflow-hidden">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-custom has-container-custom">
                    <!-- About Hero Area -->
                    <div
                        class="grid items-center gap-10 lg:grid-cols-2 lg:gap-[60px] xl:gap-[100px] xxl:grid-cols-[1fr_minmax(0,_1.1fr)]"
                    >
                        <!-- About Hero Image Block -->
                        <div
                            class="jos order-2 lg:order-1"
                            data-jos_animation="fade-left"
                            data-jos_delay="0"
                        >
                            <div
                                class="relative flex items-center justify-center ms-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
                            >
                                <img
                                    src="/assets/img/Our-clients/awf.png"
                                    alt="AL-Wahad"
                                    class="w-full h-auto sm:w-80 md:w-96"
                                />
                            </div>
                        </div>
                        <!-- About Hero Image Block -->
                        <!-- About Hero Content Block -->
                        <div
                            class="jos order-1 lg:order-2"
                            data-jos_animation="fade-right"
                            data-jos_delay="0.3"
                        >
                            <!-- Section Wrapper -->
                            <div class="md:me-24 me-0 pt-12">
                                <!-- Section Block -->
                                <div class="mb-5">
                                    <p
                                        class="text-black text-base underline mb-5"
                                    >
                                        Web Design
                                    </p>
                                    <h2
                                        class="text-black text-5xl font-semibold"
                                    >
                                        AL-Wahab foundation <br /> UK <span
                                            class="text-indigo-600"
                                        >
                                            Website</span
                                        >
                                    </h2>
                                </div>
                                <!-- Section Block -->
                                <!-- Horizontal Line Separator -->
                                <div
                                    class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"
                                >
                                </div>
                                <!-- BlockQuote Block-->
                                <div>
                                    <blockquote
                                        class="mb-6 font-semibold italic text-ColorBlack/80"
                                    >
                                        Sed ut perspiciatjs unde omnis iste
                                        natus error sitesy <br />
                                        voluptatem accusantium doloremque lauda
                                    </blockquote>
                                    <a href="/our-client/al-wahabfoundation" class="mt-4 inline-block"
                                        ><span
                                            class="text-lg text-indigo-600 font-medium underline decoration-2"
                                            >Project Details <i
                                                class="fa-solid fa-arrow-right"
                                            ></i></span
                                        ></a
                                    >
                                </div>
                            </div>
                            <!-- Section Wrapper -->
                        </div>
                        <!-- About Hero Content Block -->
                    </div>
                    <!-- About Hero Area -->
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->
        </div>
    </section>

    <section class="section-fact mb-[-10rem]">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-custom has-container-custom">
                <!-- Fact Area Block -->
                <div
                    class="grid gap-10 gap-x-12 lg:grid-cols-2 xl:grid-cols-[1fr_minmax(0,_0.7fr)] xxl:gap-x-[185px]"
                >
                    <!-- Content Block Left -->
                    <div class="jos pt-12" data-jos_animation="fade-right" data-jos_delay="0">
                        <!-- Section Wrapper -->
                        <div class="ml-4 sm:ml-8 lg:ml-24">
                            <!-- Section Block -->
                            <div class="mb-5">
                                <p class="text-black text-base underline mb-5">
                                    Web Design
                                </p>
                                <h2 class="text-black text-3xl sm:text-4xl lg:text-5xl font-semibold">
                                    Edhi Foundation UK <br />
                                    <span class="text-indigo-600">Website</span>
                                </h2>
                            </div>
                            <!-- Horizontal Line Separator -->
                            <div class="my-7 h-px w-full bg-black opacity-10 lg:my-10 xl:my-12"></div>
                            <!-- BlockQuote Block -->
                            <div>
                                <blockquote class="mb-6 font-semibold italic text-black/80">
                                    Sed ut perspiciatjs unde omnis iste natus error sitesy <br />
                                    voluptatem accusantium doloremque lauda
                                </blockquote>
                                <a href="/our-client/edhi-foundation-UK" class="mt-4 inline-block">
                                    <span class="text-lg text-indigo-600 font-medium underline decoration-2">
                                        Project Details 
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Content Block Left -->
                    <!-- Content Block Right -->
                    <div
                        class="jos order-2 lg:order-1"
                        data-jos_animation="fade-left"
                        data-jos_delay="0"
                    >
                        <div
                            class="relative flex items-center justify-center mx-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
                        >
                            <img
                                src="/assets/img/Our-clients/edhi.png"
                                alt="AL-Wahad"
                                class="w-full h-auto sm:w-80 md:w-96"
                            />
                        </div>
                    </div>
                    <!-- Content Block Right -->
                </div>
                <!-- Fact Area Block -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>

    <section class="section-about-hero mb-[-10rem]">
        <div class="relative z-10 overflow-hidden">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-custom has-container-custom">
                    <!-- About Hero Area -->
                    <div
                        class="grid items-center gap-10 lg:grid-cols-2 lg:gap-[60px] xl:gap-[100px] xxl:grid-cols-[1fr_minmax(0,_1.1fr)]"
                    >
                        <!-- About Hero Image Block -->
                        <div
                            class="jos order-2 lg:order-1"
                            data-jos_animation="fade-left"
                            data-jos_delay="0"
                        >
                            <div
                                class="relative flex items-center justify-center ms-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
                            >
                                <img
                                    src="/assets/img/Our-clients/skz.png"
                                    alt="SKZ Foundation"
                                    class="w-full h-auto sm:w-80 md:w-96"
                                />
                            </div>
                        </div>
                        <!-- About Hero Image Block -->
                        <!-- About Hero Content Block -->
                        <div
                            class="jos order-1 lg:order-2"
                            data-jos_animation="fade-right"
                            data-jos_delay="0.3"
                        >
                            <!-- Section Wrapper -->
                            <div class="md:me-24 me-0 pt-12">
                                <!-- Section Block -->
                                <div class="mb-5">
                                    <p
                                        class="text-black text-base underline mb-5"
                                    >
                                        Web Design
                                    </p>
                                    <h2
                                        class="text-black text-5xl font-semibold"
                                    >
                                    SKZ Foundation<br><span
                                            class="text-indigo-600"
                                        >
                                            Website</span
                                        >
                                    </h2>
                                </div>
                                <!-- Section Block -->
                                <!-- Horizontal Line Separator -->
                                <div
                                    class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"
                                >
                                </div>
                                <!-- BlockQuote Block-->
                                <div>
                                    <blockquote
                                        class="mb-6 font-semibold italic text-ColorBlack/80"
                                    >
                                        Sed ut perspiciatjs unde omnis iste
                                        natus error sitesy <br />
                                        voluptatem accusantium doloremque lauda
                                    </blockquote>
                                    <a href="/our-client/skz-foundation" class="mt-4 inline-block"
                                        ><span
                                            class="text-lg text-indigo-600 font-medium underline decoration-2"
                                            >Project Details <i
                                                class="fa-solid fa-arrow-right"
                                            ></i></span
                                        ></a
                                    >
                                    <!-- <div
                                        class="flex flex-col items-center gap-4 lg:flex-row"
                                    >
                                        <img
                                            src="assets/img/th-1/about-hero-user-blockquote-img.jpg"
                                            alt="about-hero-user-blockquote-img"
                                            width="60"
                                            height="60"
                                            class="mx-auto h-[60px] w-[60px] rounded-[50%] lg:mx-0"
                                        />
                                        <div>
                                            <span class="block font-semibold"
                                                >Karen Lynn</span
                                            >
                                            <span
                                                class="text-sm text-opacity-80"
                                                >CEO & Co-founder @ Company</span
                                            >
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!-- Section Wrapper -->
                        </div>
                        <!-- About Hero Content Block -->
                    </div>
                    <!-- About Hero Area -->
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->
        </div>
    </section>

    <section class="section-fact mb-[-10rem]">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-custom has-container-custom">
                <!-- Fact Area Block -->
                <div
                    class="grid gap-10 gap-x-12 lg:grid-cols-2 xl:grid-cols-[1fr_minmax(0,_0.7fr)] xxl:gap-x-[185px]"
                >
                    <!-- Content Block Left -->
                    <div class="jos pt-12" data-jos_animation="fade-right" data-jos_delay="0">
                        <!-- Section Wrapper -->
                        <div class="ml-4 sm:ml-8 lg:ml-24">
                            <!-- Section Block -->
                            <div class="mb-5">
                                <p class="text-black text-base underline mb-5">
                                    Web Design
                                </p>
                                <h2 class="text-black text-3xl sm:text-4xl lg:text-5xl font-semibold">
                                    AL-Baraka Trust <br />
                                    <span class="text-indigo-600">Website</span>
                                </h2>
                            </div>
                            <!-- Horizontal Line Separator -->
                            <div class="my-7 h-px w-full bg-black opacity-10 lg:my-10 xl:my-12"></div>
                            <!-- BlockQuote Block-->
                            <div>
                                <blockquote class="mb-6 font-semibold italic text-black/80">
                                    Sed ut perspiciatjs unde omnis iste natus error sitesy <br />
                                    voluptatem accusantium doloremque lauda
                                </blockquote>
                                <a href="/our-client/al-baraka-trust" class="mt-4 inline-block">
                                    <span class="text-lg text-indigo-600 font-medium underline decoration-2">
                                        Project Details 
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <!-- Section Wrapper -->
                    </div>
                    
                    <!-- Content Block Left -->
                    <!-- Content Block Right -->
                    <div
                        class="jos order-2 lg:order-1"
                        data-jos_animation="fade-left"
                        data-jos_delay="0"
                    >
                        <div
                            class="relative flex items-center justify-center mx-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
                        >
                            <img
                                src="/assets/img/Our-clients/abt.png"
                                alt="AL-Baraka Trust"
                                class="w-full h-auto sm:w-80 md:w-96"
                            />
                        </div>
                    </div>
                    <!-- Content Block Right -->
                </div>
                <!-- Fact Area Block -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>

    <section class="section-about-hero ">
        <div class="relative z-10 overflow-hidden">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-custom has-container-custom md:pt-0 pt-12">
                    <!-- About Hero Area -->
                    <div
                        class="grid items-center gap-10 lg:grid-cols-2 lg:gap-[60px] xl:gap-[100px] xxl:grid-cols-[1fr_minmax(0,_1.1fr)]"
                    >
                        <!-- About Hero Image Block -->
                        <div class="jos order-2 lg:order-1" data-jos_animation="fade-left" data-jos_delay="0">
                            <div class="relative flex items-center justify-center ml-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full">
                                <img
                                    src="/assets/img/Our-clients/mufti-abdul-wahab.png"
                                    alt="Mufti Abdul Wahab"
                                    class="w-full h-auto sm:w-80 md:w-96"
                                />
                            </div>
                        </div>
                        
                        <!-- About Hero Image Block -->
                        <!-- About Hero Content Block -->
                        <div
                            class="jos order-1 lg:order-2"
                            data-jos_animation="fade-right"
                            data-jos_delay="0.3"
                        >
                            <!-- Section Wrapper -->
                            <div class="md:me-24 me-0">
                                <!-- Section Block -->
                                <div class="mb-5">
                                    <p
                                        class="text-black text-base underline mb-5"
                                    >
                                        Web Design
                                    </p>
                                    <h2
                                        class="text-black text-5xl font-semibold"
                                    >
                                    Mufti Abdul Wahab <br /><span
                                            class="text-indigo-600"
                                        >
                                            Website</span
                                        >
                                    </h2>
                                </div>
                                <!-- Section Block -->
                                <!-- Horizontal Line Separator -->
                                <div
                                    class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"
                                >
                                </div>
                                <!-- BlockQuote Block-->
                                <div>
                                    <blockquote
                                        class="mb-6 font-semibold italic text-ColorBlack/80"
                                    >
                                        Sed ut perspiciatjs unde omnis iste
                                        natus error sitesy <br />
                                        voluptatem accusantium doloremque lauda
                                    </blockquote>
                                    <a href="/our-client/mufti-abdul-wahab" class="mt-4 inline-block"
                                        ><span
                                            class="text-lg text-indigo-600 font-medium underline decoration-2"
                                            >Project Details <i
                                                class="fa-solid fa-arrow-right"
                                            ></i></span
                                        ></a
                                    >
                                    <!-- <div
                                        class="flex flex-col items-center gap-4 lg:flex-row"
                                    >
                                        <img
                                            src="assets/img/th-1/about-hero-user-blockquote-img.jpg"
                                            alt="about-hero-user-blockquote-img"
                                            width="60"
                                            height="60"
                                            class="mx-auto h-[60px] w-[60px] rounded-[50%] lg:mx-0"
                                        />
                                        <div>
                                            <span class="block font-semibold"
                                                >Karen Lynn</span
                                            >
                                            <span
                                                class="text-sm text-opacity-80"
                                                >CEO & Co-founder @ Company</span
                                            >
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <!-- Section Wrapper -->
                        </div>
                        <!-- About Hero Content Block -->
                    </div>
                    <!-- About Hero Area -->
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->
        </div>
    </section>

    <!-- Section End here -->
</Layout>
