---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <!-- Breadcrump section Start Here -->
  <section class="section-breadcrumb">
    <!-- Breadcrumb Section Spacer -->
    <div class="breadcrumb-wrapper">
      <!-- Section Container -->
      <div class="container-default">
        <div class="breadcrumb-block">
          <h1 class="breadcrumb-title">Our Clients</h1>
          <ul class="breadcrumb-nav">
            <li><a href="/">Home</a></li>
            <li>Our Clients</li>
          </ul>
        </div>
      </div>
      <!-- Section Container -->

      <!-- Breadcrumb Shape - 1 -->
      <div class="absolute left-0 top-0 -z-10">
        <img
          src="/assets/img/elements/breadcrumb-shape-1.svg"
          alt="hero-shape-1"
          width="291"
          height="380"
        />
      </div>

      <!-- Breadcrumb Shape - 2 -->
      <div class="absolute bottom-0 right-0 -z-[1]">
        <img
          src="/assets/img/elements/breadcrumb-shape-2.svg"
          alt="hero-shape-2"
          width="291"
          height="380"
        />
      </div>
    </div>
    <!-- Breadcrumb Section Spacer -->
  </section>
  <!-- Breadcrump section End Here -->

  <!-- Section Start here -->

  <section class="section-about-hero mb-[-6rem]">
    <div class="relative z-10 overflow-hidden">
      <!-- Section Space -->
      <div class="section-space">
        <!-- Section Container -->
        <div class="container-custom has-container-custom">
          <!-- About Hero Area -->
          <div
            class="grid items-center gap-10 lg:grid-cols-2 lg:gap-[60px] xl:gap-[100px] xxl:grid-cols-[1fr_minmax(0,_1.1fr)]"
          >
            <!-- About Hero Image Block -->
            <div
              class="jos order-2 lg:order-1"
              data-jos_animation="fade-left"
              data-jos_delay="0"
            >
              <div
                class="relative flex items-center justify-center ms-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
              >
                <img
                  src="/assets/img/Our-clients/awf.png"
                  alt="AL-Wahad"
                  class="h-96 w-96"
                />
              </div>
            </div>
            <!-- About Hero Image Block -->
            <!-- About Hero Content Block -->
            <div
              class="jos order-1 lg:order-2"
              data-jos_animation="fade-right"
              data-jos_delay="0.3"
            >
              <!-- Section Wrapper -->
              <div class="md:me-24 me-0 pt-12">
                <!-- Section Block -->
                <div class="mb-5">
                  <p class="text-black text-base underline mb-5">Web Design</p>
                  <a href="our-clients-case-study/al-wahab-foundation">
                    <h2 class="text-black text-5xl font-semibold">
                      AL-Wahab foundation <br /> UK <span
                        class="text-indigo-600"
                      >
                        Website</span
                      >
                    </h2>
                  </a>
                </div>
                <!-- Section Block -->
                <!-- Horizontal Line Separator -->
                <div
                  class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"
                >
                </div>
                <!-- BlockQuote Block-->
                <div>
                  <blockquote
                    class="mb-6 font-semibold italic text-ColorBlack/80"
                  >
                    Sed ut perspiciatjs unde omnis iste natus error sitesy <br
                    />
                    voluptatem accusantium doloremque lauda
                  </blockquote>
                  <a
                    href="our-clients-case-study/al-wahab-foundation"
                    class="mt-4 inline-block"
                    ><span
                      class="text-lg text-indigo-600 font-medium underline decoration-2"
                      >Project Details <i class="fa-solid fa-arrow-right"
                      ></i></span
                    ></a
                  >
                  <!-- <div
                                        class="flex flex-col items-center gap-4 lg:flex-row"
                                    >
                                        <img
                                            src="assets/img/th-1/about-hero-user-blockquote-img.jpg"
                                            alt="about-hero-user-blockquote-img"
                                            width="60"
                                            height="60"
                                            class="mx-auto h-[60px] w-[60px] rounded-[50%] lg:mx-0"
                                        />
                                        <div>
                                            <span class="block font-semibold"
                                                >Karen Lynn</span
                                            >
                                            <span
                                                class="text-sm text-opacity-80"
                                                >CEO & Co-founder @ Company</span
                                            >
                                        </div>
                                    </div> -->
                </div>
              </div>
              <!-- Section Wrapper -->
            </div>
            <!-- About Hero Content Block -->
          </div>
          <!-- About Hero Area -->
        </div>
        <!-- Section Container -->
      </div>
      <!-- Section Space -->
    </div>
  </section>

  <section class="section-fact mb-[-6rem]">
    <!-- Section Space -->
    <div class="section-space">
      <!-- Section Container -->
      <div class="container-custom has-container-custom">
        <!-- Fact Area Block -->
        <div
          class="grid gap-10 gap-x-12 lg:grid-cols-2 xl:grid-cols-[1fr_minmax(0,_0.7fr)] xxl:gap-x-[185px]"
        >
          <!-- Content Block Left -->
          <div
            class="jos pt-12"
            data-jos_animation="fade-right"
            data-jos_delay="0"
          >
            <!-- Section Wrapper -->
            <div class="ml-4 sm:ml-8 lg:ml-24">
              <!-- Section Block -->
              <div class="mb-5">
                <p class="text-black text-base underline mb-5">Web Design</p>
                <a href="/our-clients-case-study/edhi-foundation-uk">
                  <h2
                    class="text-black text-3xl sm:text-4xl lg:text-5xl font-semibold"
                  >
                    Edhi Foundation UK <br />
                    <span class="text-indigo-600">Website</span>
                  </h2>
                </a>
              </div>
              <!-- Horizontal Line Separator -->
              <div
                class="my-7 h-px w-full bg-black opacity-10 lg:my-10 xl:my-12"
              >
              </div>
              <!-- BlockQuote Block -->
              <div>
                <blockquote class="mb-6 font-semibold italic text-black/80">
                  Sed ut perspiciatjs unde omnis iste natus error sitesy <br />
                  voluptatem accusantium doloremque lauda
                </blockquote>
                <a
                  href="/our-clients-case-study/edhi-foundation-uk"
                  class="mt-4 inline-block"
                >
                  <span
                    class="text-lg text-indigo-600 font-medium underline decoration-2"
                  >
                    Project Details
                    <i class="fa-solid fa-arrow-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>

          <!-- Content Block Left -->
          <!-- Content Block Right -->
          <div
            class="jos order-2 lg:order-1"
            data-jos_animation="fade-left"
            data-jos_delay="0"
          >
            <div
              class="relative flex items-center justify-center mx-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
            >
              <img
                src="/assets/img/Our-clients/edhi.png"
                alt="AL-Wahad"
                class="h-96 w-96"
              />
            </div>
          </div>
          <!-- Content Block Right -->
        </div>
        <!-- Fact Area Block -->
      </div>
      <!-- Section Container -->
    </div>
    <!-- Section Space -->
  </section>

  <section class="section-about-hero mb-[-6rem]">
    <div class="relative z-10 overflow-hidden">
      <!-- Section Space -->
      <div class="section-space">
        <!-- Section Container -->
        <div class="container-custom has-container-custom">
          <!-- About Hero Area -->
          <div
            class="grid items-center gap-10 lg:grid-cols-2 lg:gap-[60px] xl:gap-[100px] xxl:grid-cols-[1fr_minmax(0,_1.1fr)]"
          >
            <!-- About Hero Image Block -->
            <div
              class="jos order-2 lg:order-1"
              data-jos_animation="fade-left"
              data-jos_delay="0"
            >
              <div
                class="relative flex items-center justify-center ms-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
              >
                <img
                  src="/assets/img/Our-clients/skz.png"
                  alt="SKZ Foundation"
                  class="h-96 w-96"
                />
              </div>
            </div>
            <!-- About Hero Image Block -->
            <!-- About Hero Content Block -->
            <div
              class="jos order-1 lg:order-2"
              data-jos_animation="fade-right"
              data-jos_delay="0.3"
            >
              <!-- Section Wrapper -->
              <div class="md:me-24 me-0 pt-12">
                <!-- Section Block -->
                <div class="mb-5">
                  <p class="text-black text-base underline mb-5">Web Design</p>
                  <a href="/our-clients-case-study/skz-foundation">
                    <h2 class="text-black text-5xl font-semibold">
                      SKZ Foundation<br /><span class="text-indigo-600">
                        Website</span
                      >
                    </h2>
                  </a>
                </div>
                <!-- Section Block -->
                <!-- Horizontal Line Separator -->
                <div
                  class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"
                >
                </div>
                <!-- BlockQuote Block-->
                <div>
                  <blockquote
                    class="mb-6 font-semibold italic text-ColorBlack/80"
                  >
                    Sed ut perspiciatjs unde omnis iste natus error sitesy <br
                    />
                    voluptatem accusantium doloremque lauda
                  </blockquote>
                  <a
                    href="/our-clients-case-study/skz-foundation"
                    class="mt-4 inline-block"
                    ><span
                      class="text-lg text-indigo-600 font-medium underline decoration-2"
                      >Project Details <i class="fa-solid fa-arrow-right"
                      ></i></span
                    ></a
                  >
                  <!-- <div
                                        class="flex flex-col items-center gap-4 lg:flex-row"
                                    >
                                        <img
                                            src="assets/img/th-1/about-hero-user-blockquote-img.jpg"
                                            alt="about-hero-user-blockquote-img"
                                            width="60"
                                            height="60"
                                            class="mx-auto h-[60px] w-[60px] rounded-[50%] lg:mx-0"
                                        />
                                        <div>
                                            <span class="block font-semibold"
                                                >Karen Lynn</span
                                            >
                                            <span
                                                class="text-sm text-opacity-80"
                                                >CEO & Co-founder @ Company</span
                                            >
                                        </div>
                                    </div> -->
                </div>
              </div>
              <!-- Section Wrapper -->
            </div>
            <!-- About Hero Content Block -->
          </div>
          <!-- About Hero Area -->
        </div>
        <!-- Section Container -->
      </div>
      <!-- Section Space -->
    </div>
  </section>

  <section class="section-fact mb-[-6rem]">
    <!-- Section Space -->
    <div class="section-space">
      <!-- Section Container -->
      <div class="container-custom has-container-custom">
        <!-- Fact Area Block -->
        <div
          class="grid gap-10 gap-x-12 lg:grid-cols-2 xl:grid-cols-[1fr_minmax(0,_0.7fr)] xxl:gap-x-[185px]"
        >
          <!-- Content Block Left -->
          <div
            class="jos pt-12"
            data-jos_animation="fade-right"
            data-jos_delay="0"
          >
            <!-- Section Wrapper -->
            <div class="ml-4 sm:ml-8 lg:ml-24">
              <!-- Section Block -->
              <div class="mb-5">
                <p class="text-black text-base underline mb-5">Web Design</p>
                <a href="/our-clients-case-study/albaraka-trust">
                  <h2
                    class="text-black text-3xl sm:text-4xl lg:text-5xl font-semibold"
                  >
                    AL-Baraka Trust <br />
                    <span class="text-indigo-600">Website</span>
                  </h2>
                </a>
              </div>
              <!-- Horizontal Line Separator -->
              <div
                class="my-7 h-px w-full bg-black opacity-10 lg:my-10 xl:my-12"
              >
              </div>
              <!-- BlockQuote Block-->
              <div>
                <blockquote class="mb-6 font-semibold italic text-black/80">
                  Sed ut perspiciatjs unde omnis iste natus error sitesy <br />
                  voluptatem accusantium doloremque lauda
                </blockquote>
                <a
                  href="/our-clients-case-study/albaraka-trust"
                  class="mt-4 inline-block"
                  ><span
                    class="text-lg text-indigo-600 font-medium underline decoration-2"
                    >Project Details <i class="fa-solid fa-arrow-right"
                    ></i></span
                  ></a
                >
              </div>
            </div>
            <!-- Section Wrapper -->
          </div>

          <!-- Content Block Left -->
          <!-- Content Block Right -->
          <div
            class="jos order-2 lg:order-1"
            data-jos_animation="fade-left"
            data-jos_delay="0"
          >
            <div
              class="relative flex items-center justify-center mx-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
            >
              <img
                src="/assets/img/Our-clients/abt.png"
                alt="AL-Baraka Trust"
                class="h-96 w-96"
              />
            </div>
          </div>
          <!-- Content Block Right -->
        </div>
        <!-- Fact Area Block -->
      </div>
      <!-- Section Container -->
    </div>
    <!-- Section Space -->
  </section>

  <section class="section-about-hero">
    <div class="relative z-10 overflow-hidden">
      <!-- Section Space -->
      <div class="section-space">
        <!-- Section Container -->
        <div class="container-custom has-container-custom md:pt-0 pt-12">
          <!-- About Hero Area -->
          <div
            class="grid items-center gap-10 lg:grid-cols-2 lg:gap-[60px] xl:gap-[100px] xxl:grid-cols-[1fr_minmax(0,_1.1fr)]"
          >
            <!-- About Hero Image Block -->
            <div
              class="jos order-2 lg:order-1"
              data-jos_animation="fade-left"
              data-jos_delay="0"
            >
              <div
                class="relative flex items-center justify-center ml-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
              >
                <img
                  src="/assets/img/Our-clients/mufti-abdul-wahab.png"
                  alt="Mufti Abdul Wahab"
                  class="w-full h-auto sm:w-80 md:w-96"
                />
              </div>
            </div>

            <!-- About Hero Image Block -->
            <!-- About Hero Content Block -->
            <div
              class="jos order-1 lg:order-2"
              data-jos_animation="fade-right"
              data-jos_delay="0.3"
            >
              <!-- Section Wrapper -->
              <div class="md:me-24 me-0">
                <!-- Section Block -->
                <div class="mb-5">
                  <p class="text-black text-base underline mb-5">Web Design</p>
                  <a href="/our-clients-case-study/mufti-abdul-wahab">
                    <h2 class="text-black text-5xl font-semibold">
                      Mufti Abdul Wahab <br /><span class="text-indigo-600">
                        Website</span
                      >
                    </h2>
                  </a>
                </div>
                <!-- Section Block -->
                <!-- Horizontal Line Separator -->
                <div
                  class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"
                >
                </div>
                <!-- BlockQuote Block-->
                <div>
                  <blockquote
                    class="mb-6 font-semibold italic text-ColorBlack/80"
                  >
                    Sed ut perspiciatjs unde omnis iste natus error sitesy <br
                    />
                    voluptatem accusantium doloremque lauda
                  </blockquote>
                  <a
                    href="/our-clients-case-study/mufti-abdul-wahab"
                    class="mt-4 inline-block"
                    ><span
                      class="text-lg text-indigo-600 font-medium underline decoration-2"
                      >Project Details <i class="fa-solid fa-arrow-right"
                      ></i></span
                    ></a
                  >
                  <!-- <div
                                        class="flex flex-col items-center gap-4 lg:flex-row"
                                    >
                                        <img
                                            src="assets/img/th-1/about-hero-user-blockquote-img.jpg"
                                            alt="about-hero-user-blockquote-img"
                                            width="60"
                                            height="60"
                                            class="mx-auto h-[60px] w-[60px] rounded-[50%] lg:mx-0"
                                        />
                                        <div>
                                            <span class="block font-semibold"
                                                >Karen Lynn</span
                                            >
                                            <span
                                                class="text-sm text-opacity-80"
                                                >CEO & Co-founder @ Company</span
                                            >
                                        </div>
                                    </div> -->
                </div>
              </div>
              <!-- Section Wrapper -->
            </div>
            <!-- About Hero Content Block -->
          </div>
          <!-- About Hero Area -->
        </div>
        <!-- Section Container -->
      </div>
      <!-- Section Space -->
    </div>
    <!-- Other project  -->
  </section>

  <div class="max-w-[941px] mx-auto p-4 my-10 text-center jos"
    data-jos_delay="0">
    <h2 class="text-xl md:text-4xl font-semibold">Other Project</h2>
    <p>
      Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
      accusantium doloremque lauda
    </p>
  </div>

  <div
    class="max-w-[941px] mx-auto bg-white shadow-lg rounded-lg border-[2px] border-gray-500 p-4 jos"
    data-jos_animation="fade-left"
    data-jos_delay="0"
  >
    <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-[101px]">
      <!-- Left Section: Content -->
      <div class="flex flex-col space-y-4 w-full">
        <a href="/our-clients-case-study/al-wahab-tours">
          <h2 class="text-xl md:text-2xl font-semibold">AL-Wahab Tour</h2></a
        >
        <p class="text-gray-500 text-sm md:text-base">
          Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
          accusantium doloremque lauda
        </p>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >Web Design</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEO</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEM Marketing</span
          >
        </div>
        <div>
          <a href="/our-clients-case-study/al-wahab-tours">
            <i
              class="fa-solid fa-arrow-right text-black text-lg md:text-2xl pt-3"
            ></i></a
          >
        </div>
      </div>

      <!-- Right Section: Logo -->
      <div class="w-full md:w-[330px] h-[250px]">
        <img
          src="/assets/img/Our-clients/al-wahab-tour.png"
          alt="Logo"
          class="object-cover w-full h-full rounded-[20px]"
        />
      </div>
    </div>
  </div>
  <!-- Section End here -->
  <div
    class="max-w-[941px] mx-auto bg-white shadow-lg rounded-lg border-[2px] border-gray-500 p-4 my-10 jos"
    data-jos_animation="fade-right"
    data-jos_delay="0"
  >
    <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-[101px]">
      <!-- Left Section: Content -->
      <div class="flex flex-col space-y-4 w-full">
        <a href="our-clients-case-study/care-and-relief-foundation">
          <h2 class="text-xl md:text-2xl font-semibold">
            Care And Relief Foundation
          </h2>
        </a>
        <p class="text-gray-500 text-sm md:text-base">
          Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
          accusantium doloremque lauda
        </p>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >Web Design</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEO</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEM Marketing</span
          >
        </div>
        <div>
          <a href="our-clients-case-study/care-and-relief-foundation">
            <i
              class="fa-solid fa-arrow-right text-black text-lg md:text-2xl pt-3"
            ></i>
          </a>
        </div>
      </div>

      <!-- Right Section: Logo -->
      <div class="w-full md:w-[330px] h-[250px]">
        <img
          src="/assets/img/Our-clients/crf.png"
          alt="Logo"
          class="object-cover w-full h-full rounded-[20px]"
        />
      </div>
    </div>
  </div>
  <!-- Section End here -->
  <div
    class="max-w-[941px] mx-auto bg-white shadow-lg rounded-lg border-[2px] border-gray-500 p-4 my-10 jos"
    data-jos_animation="fade-left"
    data-jos_delay="0"
  >
    <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-[101px]">
      <!-- Left Section: Content -->
      <div class="flex flex-col space-y-4 w-full">
        <a href="/our-clients-case-study/banbury-madni-masjid">
          <h2 class="text-xl md:text-2xl font-semibold">
            Banbury Madni Masjid
          </h2>
        </a>
        <p class="text-gray-500 text-sm md:text-base">
          Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
          accusantium doloremque lauda
        </p>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >Web Design</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEO</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEM Marketing</span
          >
        </div>
        <div>
          <a href="/our-clients-case-study/banbury-madni-masjid">
            <i
              class="fa-solid fa-arrow-right text-black text-lg md:text-2xl pt-3"
            ></i>
          </a>
        </div>
      </div>

      <!-- Right Section: Logo -->
      <div class="w-full md:w-[330px] h-[250px]">
        <img
          src="/assets/img/Our-clients/banbury.png"
          alt="Logo"
          class="object-cover w-full h-full rounded-[20px]"
        />
      </div>
    </div>
  </div>
  <!-- Section End here -->
  <div
    class="max-w-[941px] mx-auto bg-white shadow-lg rounded-lg border-[2px] border-gray-500 p-4 my-10 jos"
    data-jos_animation="fade-right"
    data-jos_delay="0"
  >
    <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-[101px]">
      <!-- Left Section: Content -->
      <div class="flex flex-col space-y-4 w-full">
        <a href="/our-clients-case-study/alauddin-siddiqui-trust">
          <h2 class="text-xl md:text-2xl font-semibold">
            Alauddin Siddiqui Trust
          </h2>
        </a>
        <p class="text-gray-500 text-sm md:text-base">
          Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
          accusantium doloremque lauda
        </p>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >Web Design</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEO</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEM Marketing</span
          >
        </div>
        <div>
          <a href="/our-clients-case-study/alauddin-siddiqui-trust">
            <i
              class="fa-solid fa-arrow-right text-black text-lg md:text-2xl pt-3"
            ></i>
          </a>
        </div>
      </div>

      <!-- Right Section: Logo -->
      <div class="w-full md:w-[330px] h-[250px]">
        <img
          src="/assets/img/Our-clients/allaudin.png"
          alt="Logo"
          class="object-cover w-full h-full rounded-[20px]"
        />
      </div>
    </div>
  </div>
  <!-- Section End here -->
  <div
    class="max-w-[941px] mx-auto bg-white shadow-lg rounded-lg border-[2px] border-gray-500 p-4 my-10 jos"
    data-jos_animation="fade-left"
    data-jos_delay="0"
  >
    <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-[101px]">
      <!-- Left Section: Content -->
      <div class="flex flex-col space-y-4 w-full">
        <a href="/our-clients-case-study/human-aid-foundation">
          <h2 class="text-xl md:text-2xl font-semibold">
            Human Aid Foundation
          </h2>
        </a>
        <p class="text-gray-500 text-sm md:text-base">
          Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
          accusantium doloremque lauda
        </p>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >Web Design</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEO</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEM Marketing</span
          >
        </div>
        <div>
          <a href="/our-clients-case-study/human-aid-foundation">
            <i
              class="fa-solid fa-arrow-right text-black text-lg md:text-2xl pt-3"
            ></i>
          </a>
        </div>
      </div>

      <!-- Right Section: Logo -->
      <div class="w-full md:w-[330px] h-[250px]">
        <img
          src="/assets/img/Our-clients/haf.png"
          alt="Logo"
          class="object-cover w-full h-full rounded-[20px]"
        />
      </div>
    </div>
  </div>
  <!-- Section End here -->
  <div
    class="max-w-[941px] mx-auto bg-white shadow-lg rounded-lg border-[2px] border-gray-500 p-4 my-10 jos"
    data-jos_animation="fade-right"
    data-jos_delay="0"
  >
    <div class="flex flex-col md:flex-row md:items-center gap-4 md:gap-[101px]">
      <!-- Left Section: Content -->
      <div class="flex flex-col space-y-4 w-full">
        <a href="/our-clients-case-study/hope-foundation">
          <h2 class="text-xl md:text-2xl font-semibold">Hope Foundation</h2></a
        >
        <p class="text-gray-500 text-sm md:text-base">
          Sed ut perspiciatis unde omnis iste natus error sitesy voluptatem
          accusantium doloremque lauda
        </p>
        <div class="flex flex-wrap gap-2">
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >Web Design</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEO</span
          >
          <span
            class="bg-black text-white text-xs md:text-sm font-medium px-3 py-1 rounded-full"
            >SEM Marketing</span
          >
        </div>
        <div>
          <a href="/our-clients-case-study/hope-foundation">
            <i
              class="fa-solid fa-arrow-right text-black text-lg md:text-2xl pt-3"
            ></i>
          </a>
        </div>
      </div>

      <!-- Right Section: Logo -->
      <div class="w-full md:w-[330px] h-[250px]">
        <img
          src="/assets/img/Our-clients/hope.png"
          alt="Logo"
          class="object-cover w-full h-full rounded-[20px]"
        />
      </div>
    </div>
  </div>

  <!-- Other project end  -->

  <!-- Section End here -->
</Layout>
