---
import Layouts from "../../../layouts/Layout.astro";
import SliderNew from "../../../components/SliderNew.astro";
const slidesData = [
  {
    img: '/assets/img/slider/edhi.png',
    alt: 'Edhi Foundation',
    title: 'Edhi Foundation',
    description: 'Web Design'
  },
  {
    img: '/assets/img/slider/al-wahab.png',
    alt: 'Al Wahab Foundation',
    title: 'Al-Wahab Foundation', 
    description: 'Web Design'
  },
  {
    img: '/assets/img/slider/crf.png',
    alt: 'Care & Relief Foundation',
    title: 'Care & Relief Foundation',
    description: 'Web Design'
  },
  {
    img: '/assets/img/slider/banbury.png',
    alt: 'Banbury Mosque',
    title: 'Banbury Madni Masjid',
    description: 'Web Design'
  }
];
---

<Layouts>
    <div class="page-wrapper relative z-[1] bg-white">
        <main class="main-wrapper relative overflow-hidden">
            <!--...::: Breadcrumb Section Start :::... -->
            <section class="section-breadcrumb">
                <!-- Breadcrumb Section Spacer -->
                <div class="breadcrumb-wrapper">
                    <!-- Section Container -->
                    <div class="container-default">
                        <div class="breadcrumb-block">
                            <h1 class="breadcrumb-title">
                                Website UI & UX Design
                            </h1>
                            <ul class="breadcrumb-nav">
                                <li><a href="/">Home</a></li>
                                <li><a href="/services">Service</a></li>
                                <li>Website UI & UX Design</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Section Container -->

                    <!-- Breadcrumb Shape - 1 -->
                    <div class="absolute left-0 top-0 -z-10">
                        <img
                            src="/assets/img/elements/breadcrumb-shape-1.svg"
                            alt="hero-shape-1"
                            width="291"
                            height="380"
                        />
                    </div>

                    <!-- Breadcrumb Shape - 2 -->
                    <div class="absolute bottom-0 right-0 -z-[1]">
                        <img
                            src="/assets/img/elements/breadcrumb-shape-2.svg"
                            alt="hero-shape-2"
                            width="291"
                            height="380"
                        />
                    </div>
                </div>
                <!-- Breadcrumb Section Spacer -->
            </section>
            <!--...::: Breadcrumb Section End :::... -->

            <main class="main-wrapper relative overflow-hidden">
                <!--...::: Hero Section Start :::... -->
                <!-- Hero Image Block -->

                <div
                    class="relative mx-auto my-[60px] max-w-[1296px] overflow-hidden rounded-tl-[10px] rounded-tr-[10px]"
                >
                    <div
                        class="jos mx-auto mb-[60px] grid items-center justify-between gap-5 text-center md:grid-cols-[1fr_minmax(0,_0.85fr)] md:gap-[60px] md:text-left xl:mb-20 xl:gap-28 xxl:gap-[244px]"
                    >
                        <!-- Section Content Block -->
                        <div>
                            <h2 class="breadcrumb-title">
                                Website UI & UX Design
                            </h2>
                        </div>
                        <!-- Section Content Block -->

                        <!-- Section Text -->
                        <p>
                            In today’s digital world, a website’s design can
                            make or break its success. UX (User Experience) and
                            UI (User Interface) design are two critical elements
                            that determine how users interact with a website. At
                            Techno Serve Solutions, we specialize in creating
                            seamless, intuitive websites that offer both
                            outstanding user experience and engaging visual
                            design. Our goal is to ensure your website not only
                            looks great but also functions smoothly for every
                            visitor.
                        </p>
                        <!-- Section Text -->
                    </div>
                    <img
                        src="/assets/img/services-1.png"
                        alt="hero-img"
                        width="1296"
                        height="550"
                        data-jos_animation="zoom-in-down"
                        class="h-auto w-full"
                    />
                </div>
                <!-- Hero Image Block -->
                <!--...::: Hero Section End :::... -->

                <!--...::: Content Section Start :::... -->
                <section class="section-content">
                    <!-- Section Space -->
                    <div class="section-space-bottom">
                        <!-- Section Container -->
                        <div class="container-default">
                            <div
                                class="flex flex-col gap-y-20 lg:gap-y-[100px] xl:gap-y-[120px]"
                            >
                                <!-- Content Area Single -->
                                <div
                                    class="grid items-center gap-10 lg:grid-cols-[1fr_minmax(0,_0.8fr)] lg:gap-24 xl:gap-[140px]"
                                >
                                    <!-- Content Block Left -->
                                    <div
                                        class="jos"
                                        data-jos_animation="fade-right"
                                    >
                                        <!-- Section Wrapper -->
                                        <div>
                                            <!-- Section Block -->
                                            <div class="mb-5">
                                                <h2
                                                    class="font-PublicSans text-4xl font-semibold leading-[1.05] -tracking-[2px] text-[#0F1642] sm:text-5xl lg:text-6xl xl:text-[70px] xxl:text-[80px]"
                                                >
                                                    Why Choose Techno Serve
                                                    Solutions for UX/UI Design?
                                                </h2>
                                            </div>
                                            <!-- Section Block -->
                                        </div>
                                        <!-- Section Wrapper -->
                                        <!-- Content Text -->
                                        <p class="text-[#2C2C2C]">
                                            Choosing Techno Serve Solutions
                                            means partnering with a team that
                                            understands the importance of
                                            putting users first. We create
                                            designs that are tailored to your
                                            business goals, ensuring that your
                                            website is not only beautiful but
                                            also functional and user-friendly.
                                            Our collaborative approach ensures
                                            you’re involved at every stage, and
                                            our expertise guarantees a final
                                            product that enhances your digital
                                            presence.
                                        </p>
                                        <div
                                            class="container mx-auto px-4 py-8"
                                        >
                                            <div
                                                class="grid grid-cols-1 md:grid-cols-2 gap-4"
                                            >
                                                <div
                                                    class="space-y-3 text-[16px]"
                                                >
                                                    <p
                                                        class="flex items-center text-black"
                                                    >
                                                        <svg
                                                            class="w-10 h-10 text-purple-500 mr-2"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                        >
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 011.07 1.05l-4 5a.75.75 0 01-1.08.02l-2-2a.75.75 0 111.08-1.04l1.47 1.47 3.47-4.5z"
                                                            ></path>
                                                        </svg>
                                                        User-Focused Design
                                                    </p>
                                                    <p
                                                        class="flex items-center text-black"
                                                    >
                                                        <svg
                                                            class="w-10 h-10 text-purple-500 mr-2"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                        >
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 011.07 1.05l-4 5a.75.75 0 01-1.08.02l-2-2a.75.75 0 111.08-1.04l1.47 1.47 3.47-4.5z"
                                                            ></path>
                                                        </svg>
                                                        Innovative Visual Design
                                                    </p>
                                                    <p
                                                        class="flex items-center text-black"
                                                    >
                                                        <svg
                                                            class="w-10 h-10 text-purple-500 mr-2"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                        >
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 011.07 1.05l-4 5a.75.75 0 01-1.08.02l-2-2a.75.75 0 111.08-1.04l1.47 1.47 3.47-4.5z"
                                                            ></path>
                                                        </svg>
                                                        Clear Information Structure
                                                    </p>
                                                </div>
                                                <div
                                                    class="space-y-3 text-[16px]"
                                                >
                                                    <p
                                                        class="flex items-center text-black"
                                                    >
                                                        <svg
                                                            class="w-10 h-10 text-purple-500 mr-2"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                        >
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 011.07 1.05l-4 5a.75.75 0 01-1.08.02l-2-2a.75.75 0 111.08-1.04l1.47 1.47 3.47-4.5z"
                                                            ></path>
                                                        </svg>
                                                        Advanced Interactivity
                                                    </p>
                                                    <p
                                                        class="flex items-center text-black"
                                                    >
                                                        <svg
                                                            class="w-10 h-10 text-purple-500 mr-2"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                        >
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 011.07 1.05l-4 5a.75.75 0 01-1.08.02l-2-2a.75.75 0 111.08-1.04l1.47 1.47 3.47-4.5z"
                                                            ></path>
                                                        </svg>
                                                        Optimized Performance
                                                    </p>
                                                    <p
                                                        class="flex items-center text-black"
                                                    >
                                                        <svg
                                                            class="w-10 h-10 text-purple-500 mr-2"
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor"
                                                            viewBox="0 0 16 16"
                                                        >
                                                            <path
                                                                d="M10.97 4.97a.75.75 0 011.07 1.05l-4 5a.75.75 0 01-1.08.02l-2-2a.75.75 0 111.08-1.04l1.47 1.47 3.47-4.5z"
                                                            ></path>
                                                        </svg>
                                                        Content Integration
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Content Text -->
                                    </div>
                                    <!-- Content Block Left -->
                                    <!-- Content Block Right -->
                                    <div
                                        class="jos"
                                        data-jos_animation="fade-left"
                                    >
                                        <div
                                            class="w-full overflow-hidden rounded-[10px] mx-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
                                        >
                                            <img
                                                src="/assets/img/services-2.png"
                                                alt="content-img-2"
                                                width="526"
                                                height="500"
                                                class="h-auto w-full"
                                            />
                                        </div>
                                    </div>
                                    <!-- Content Block Right -->
                                </div>
                                <!-- Content Area Single -->
                            </div>
                        </div>
                        <!-- Section Container -->
                    </div>
                    <!-- Section Space -->
                </section>
                <!--...::: Content Section End :::... -->

                <section class="md:pb-24 pb-16">
                    <div class="section-three bg-[#282828] pt-10 md:pl-0 pl-3">
                        <div
                            class="container mx-auto flex flex-col md:flex-row py-2 md:py-5"
                        >
                            <div
                                class="content col-span-12 md:col-span-9 mx-auto md:mx-5 mt-3 md:mt-0"
                            >
                                <h2
                                    class="slider-heading our-heading font-bold text-white text-3xl md:text-4xl"
                                >
                                    Our UX/UI Design Workflow
                                </h2>
                                <p class="text-white mt-2">
                                    At Techno Serve Solutions, our UX/UI design
                                    process follows a structured, client-centric
                                    approach. We begin by understanding your
                                    business objectives and the needs of your
                                    users. Next, we create wireframes and
                                    mockups to give you a clear vision of the
                                    design. After the design is finalized, we
                                    move to development, ensuring that the site
                                    is fully functional.
                                </p>
                            </div>
                            <div class="blank hidden md:block md:w-1/4"></div>
                        </div>

                        <div class="slider-section pb-5">
                            <SliderNew slides={slidesData} />
                          </div>
                    </div>
                </section>

                <!--...::: Testimonial Section End :::... -->
                <!--...::: Content Section Start :::... -->
                <section class="section-content">
                    <!-- Section Space -->
                    <div class="section-space-bottom">
                        <!-- Section Container -->
                        <div class="container-default">
                            <div
                                class="flex flex-col gap-y-20 lg:gap-y-[100px] xl:gap-y-[120px]"
                            >
                                <!-- Content Area Single -->
                                <div
                                    class="grid items-center gap-10 lg:grid-cols-[0.8fr_minmax(0,_1fr)] lg:gap-24 xl:gap-[140px]"
                                >
                                    <!-- Content Block Left -->
                                    <div
                                        class="jos order-1 lg:order-2"
                                        data-jos_animation="fade-right"
                                    >
                                        <!-- Section Wrapper -->
                                        <div>
                                            <!-- Section Block -->
                                            <div class="mb-5">
                                                <h2
                                                    class="font-PublicSans text-4xl font-semibold leading-[1.05] -tracking-[2px] text-[#0F1642] sm:text-5xl lg:text-6xl xl:text-[70px] xxl:text-[80px]"
                                                >
                                                    Understanding User
                                                    Experience (UX)
                                                </h2>
                                            </div>
                                            <!-- Section Block -->
                                        </div>
                                        <!-- Section Wrapper -->
                                        <!-- Content Text -->
                                        <p class="text-[#2C2C2C] pb-4">
                                            UX design focuses on how users feel
                                            when they navigate your website.
                                            It’s about ensuring that their
                                            journey from one page to another is
                                            easy, efficient, and satisfying.
                                            From the moment they land on your
                                            site, users should know exactly
                                            where to go and how to find the
                                            information they need without
                                            confusion or frustration.
                                        </p>
                                        <!-- Content Text -->

                                        <a
                                            href="/services/web-development/website-development/"
                                            class="btn is-honey-suckle-2 is-transparent btn-animation is-large is-rounded group inline-block"
                                        >
                                            <span>
                                                Website Development<i
                                                    class="fa-regular fa-arrow-right ml-[10px] text-2xl leading-none"
                                                ></i>
                                            </span>
                                        </a>
                                    </div>
                                    <!-- Content Block Left -->
                                    <!-- Content Block Right -->
                                    <div
                                        class="jos order-2 md:order-1"
                                        data-jos_animation="fade-left"
                                    >
                                        <div
                                            class="w-full overflow-hidden rounded-[10px] mx-auto lg:mx-0 max-w-full sm:max-w-[80%] md:max-w-[70%] lg:max-w-full"
                                        >
                                            <img
                                                src="/assets/img/services-3.png"
                                                alt="content-img-1"
                                                width="526"
                                                height="500"
                                                class="h-auto w-full"
                                            />
                                        </div>
                                    </div>
                                    <!-- Content Block Right -->
                                </div>
                                <!-- Content Area Single -->
                            </div>
                        </div>
                        <!-- Section Container -->
                    </div>
                    <!-- Section Space -->
                </section>
                <!--...::: Content Section End :::... -->
                <!--...::: Team Section Start :::... -->
                <section class="section-team">
                    <!-- Section Space -->
                    <div class="section-space-bottom">
                        <!-- Section Container -->
                        <div class="container-default mt-16">
                            <!-- Team Area -->
                            <div
                                class="grid grid-cols-1 items-center gap-10 lg:grid-cols-[0.75fr_minmax(0,_1fr)] xl:gap-20 xxl:gap-[134px]"
                            >
                                <!-- Content Block Left -->
                                <div
                                    class="jos"
                                    data-jos_animation="fade-right"
                                >
                                    <!-- Section Wrapper -->
                                    <div>
                                        <!-- Section Block -->
                                        <div class="mb-5">
                                            <h2
                                                class="font-PublicSans text-4xl font-bold leading-[1.14] text-[#121212] lg:text-left lg:text-5xl xl:text-[56px]"
                                            >
                                                Our UX / UI Designer
                                            </h2>
                                        </div>
                                        <!-- Section Block -->
                                    </div>
                                    <!-- Section Wrapper -->
                                    <p class="mb-5">
                                        Our UX/UI Designer specializes in
                                        creating user-centered designs that
                                        enhance user experience and interface
                                        aesthetics. With a focus on
                                        functionality and visual appeal, they
                                        ensure intuitive navigation and seamless
                                        interaction across all digital
                                        platforms.<br /><br />
                                        We are proud to have a team of top UI/UX
                                        design experts, ensuring every element of
                                        modern web and creative design is expertly
                                        handled. From skilled graphic designers to
                                        technical specialists with cutting-edge digital
                                        expertise, our team is ready to bring your
                                        vision to life.
                                    </p>
                                    <ul
                                        class="flex flex-col gap-5 font-semibold"
                                    >
                                        <li>
                                            <span
                                                class="mr-3 inline-block text-xl text-ColorPurple"
                                                ><i
                                                    class="fa-solid fa-badge-check"
                                                ></i></span
                                            >
                                            A team consisting of skilled members
                                        </li>
                                        <li>
                                            <span
                                                class="mr-3 inline-block text-xl text-ColorPurple"
                                                ><i
                                                    class="fa-solid fa-badge-check"
                                                ></i></span
                                            >
                                            Ready to help you 24/7 email & phone
                                            support
                                        </li>
                                    </ul>
                                    <div class="mt-8 lg:mt-[50px]">
                                        <a
                                            href="/contact"
                                            class="btn is-denim is-large btn-animation group inline-block rounded-[3px]"
                                            ><span>Contact Our Experts</span></a
                                        >
                                    </div>
                                </div>
                                <!-- Content Block Left -->

                                <!-- Team List -->
                                <div class="jos" data-jos_animation="fade-left">
                                    <div
                                        class="grid grid-cols-1 gap-x-6 gap-y-[30px] "
                                    >
                                        <!-- Team Item -->
                                        <div
                                            class="group flex flex-col items-center justify-center text-center"
                                        >
                                            <div
                                                class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-4"
                                            >
                                                <img
                                                    src="/assets/img/teams/moin.png"
                                                    alt="team-img-1"
                                                    width="196"
                                                    height="196"
                                                    class="h-full w-full object-cover"
                                                />
                                            </div>
                                            <div>
                                                <div
                                                    class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark"
                                                >
                                                Moinuddin Khan                                                </div>
                                                <span>UI / UX Designer</span>
                                            </div>
                                        </div>
                                        <!-- Team Item -->
                               
                                    </div>
                                </div>
                                <!-- Team List -->
                            </div>
                            <!-- Team Area -->
                        </div>
                        <!-- Section Container -->
                    </div>
                    <!-- Section Space -->
                </section>
                <!--...::: Team Section End :::... -->

                <!--...::: FAQ Section Start :::... -->
                <section class="section-faq">
                    <!-- Section Space -->
                    <div class="section-space">
                        <!-- Section Container -->
                        <div class="container-default">
                            <!-- Section Content Wrapper -->
                            <div class="jos mb-[60px] xl:mb-20">
                                <!-- Section Content Block -->
                                <div class="mx-auto max-w-[625px]">
                                    <h2 class="text-center">
                                        Frequently Asked Questions
                                    </h2>
                                </div>
                                <!-- Section Content Block -->
                            </div>
                            <!-- Section Content Wrapper -->
                            <!-- FAQ Area -->
                            <div class="jos">
                                <!-- Accordion List -->
                                <ul
                                    class="mx-auto max-w-[1076px] rounded-[10px] border border-ColorBlack"
                                >
                                    <!-- Accordion Item -->
                                    <li
                                        class="accordion-item active overflow-hidden border-b border-ColorBlack p-[30px] last:border-b-0"
                                    >
                                        <!-- Accordion Header -->
                                        <div
                                            class="accordion-header flex justify-between gap-6 text-xl font-semibold text-ColorBlack"
                                        >
                                            <button class="flex-1 text-left">
                                                Q. What is the difference
                                                between UX and UI design?
                                            </button>
                                            <div
                                                class="accordion-icon-1 relative flex h-5 w-5 items-center justify-center rounded-[50%] bg-ColorBlue"
                                            >
                                                <span
                                                    class="inline-block h-0.5 w-[10px] rounded-sm bg-white"
                                                ></span>
                                                <span
                                                    class="absolute inline-block h-[10px] w-0.5 rotate-0 rounded-sm bg-white"
                                                ></span>
                                            </div>
                                        </div>
                                        <!-- Accordion Header -->
                                        <!-- Accordion Body -->
                                        <div
                                            class="accordion-body max-w-[826px] opacity-80"
                                        >
                                            <p class="pt-5">
                                                UX (User Experience) focuses on
                                                how users interact with your
                                                website, ensuring smooth
                                                navigation and satisfaction. UI
                                                (User Interface) focuses on the
                                                visual elements, like layout and
                                                design, to enhance the look and
                                                feel of your site.
                                            </p>
                                        </div>
                                        <!-- Accordion Body -->
                                    </li>
                                    <!-- Accordion Item -->
                                    <li
                                        class="accordion-item overflow-hidden border-b border-ColorBlack p-[30px] last:border-b-0"
                                    >
                                        <!-- Accordion Header -->
                                        <div
                                            class="accordion-header flex justify-between gap-6 text-xl font-semibold text-ColorBlack"
                                        >
                                            <button class="flex-1 text-left">
                                                Q. Why should I choose Techno
                                                Serve Solutions for UX/UI
                                                design?
                                            </button>
                                            <div
                                                class="accordion-icon-1 relative flex h-5 w-5 items-center justify-center rounded-[50%] bg-ColorBlue"
                                            >
                                                <span
                                                    class="inline-block h-0.5 w-[10px] rounded-sm bg-white"
                                                ></span>
                                                <span
                                                    class="absolute inline-block h-[10px] w-0.5 rotate-0 rounded-sm bg-white"
                                                ></span>
                                            </div>
                                        </div>
                                        <!-- Accordion Header -->
                                        <!-- Accordion Body -->
                                        <div
                                            class="accordion-body max-w-[826px] opacity-80"
                                        >
                                            <p class="pt-5">
                                                We specialize in creating
                                                user-centered designs that
                                                combine aesthetics and
                                                functionality. Our team works
                                                closely with you to ensure the
                                                design aligns with your business
                                                goals and provides an engaging,
                                                seamless experience for users.
                                            </p>
                                        </div>
                                        <!-- Accordion Body -->
                                    </li>
                                    <!-- Accordion Item -->
                                    <li
                                        class="accordion-item overflow-hidden border-b border-ColorBlack p-[30px] last:border-b-0"
                                    >
                                        <!-- Accordion Header -->
                                        <div
                                            class="accordion-header flex justify-between gap-6 text-xl font-semibold text-ColorBlack"
                                        >
                                            <button class="flex-1 text-left">
                                                Q. How does your UX/UI design
                                                process work?
                                            </button>
                                            <div
                                                class="accordion-icon-1 relative flex h-5 w-5 items-center justify-center rounded-[50%] bg-ColorBlue"
                                            >
                                                <span
                                                    class="inline-block h-0.5 w-[10px] rounded-sm bg-white"
                                                ></span>
                                                <span
                                                    class="absolute inline-block h-[10px] w-0.5 rotate-0 rounded-sm bg-white"
                                                ></span>
                                            </div>
                                        </div>
                                        <!-- Accordion Header -->
                                        <!-- Accordion Body -->
                                        <div
                                            class="accordion-body max-w-[826px] opacity-80"
                                        >
                                            <p class="pt-5">
                                                Our process starts with
                                                understanding your business
                                                objectives and user needs. We
                                                then create wireframes and
                                                mockups to visualize the design.
                                                Once finalized, we develop the
                                                website to ensure smooth
                                                functionality and optimal
                                                performance.
                                            </p>
                                        </div>
                                        <!-- Accordion Body -->
                                    </li>
                                    <!-- Accordion Item -->
                                    <li
                                        class="accordion-item overflow-hidden border-b border-ColorBlack p-[30px] last:border-b-0"
                                    >
                                        <!-- Accordion Header -->
                                        <div
                                            class="accordion-header flex justify-between gap-6 text-xl font-semibold text-ColorBlack"
                                        >
                                            <button class="flex-1 text-left">
                                                Q. What is user-focused design,
                                                and why is it important?
                                            </button>
                                            <div
                                                class="accordion-icon-1 relative flex h-5 w-5 items-center justify-center rounded-[50%] bg-ColorBlue"
                                            >
                                                <span
                                                    class="inline-block h-0.5 w-[10px] rounded-sm bg-white"
                                                ></span>
                                                <span
                                                    class="absolute inline-block h-[10px] w-0.5 rotate-0 rounded-sm bg-white"
                                                ></span>
                                            </div>
                                        </div>
                                        <!-- Accordion Header -->
                                        <!-- Accordion Body -->
                                        <div
                                            class="accordion-body max-w-[826px] opacity-80"
                                        >
                                            <p class="pt-5">
                                                User-focused design ensures your
                                                website is easy to use and meets
                                                the needs of your visitors. This
                                                approach improves user
                                                satisfaction and increases the
                                                likelihood of conversions,
                                                making your website both
                                                user-friendly and effective.
                                            </p>
                                        </div>
                                        <!-- Accordion Body -->
                                    </li>
                                    <!-- Accordion Item -->
                                    <li
                                        class="accordion-item overflow-hidden border-b border-ColorBlack p-[30px] last:border-b-0"
                                    >
                                        <!-- Accordion Header -->
                                        <div
                                            class="accordion-header flex justify-between gap-6 text-xl font-semibold text-ColorBlack"
                                        >
                                            <button class="flex-1 text-left">
                                                Q. How does Techno Serve
                                                Solutions ensure innovative
                                                visual design?
                                            </button>
                                            <div
                                                class="accordion-icon-1 relative flex h-5 w-5 items-center justify-center rounded-[50%] bg-ColorBlue"
                                            >
                                                <span
                                                    class="inline-block h-0.5 w-[10px] rounded-sm bg-white"
                                                ></span>
                                                <span
                                                    class="absolute inline-block h-[10px] w-0.5 rotate-0 rounded-sm bg-white"
                                                ></span>
                                            </div>
                                        </div>
                                        <!-- Accordion Header -->
                                        <!-- Accordion Body -->
                                        <div
                                            class="accordion-body max-w-[826px] opacity-80"
                                        >
                                            <p class="pt-5">
                                                Our skilled designers blend
                                                creativity with functionality,
                                                delivering visually appealing
                                                websites that stand out. We use
                                                modern design principles and
                                                cutting-edge technology to
                                                ensure your website is not only
                                                attractive but also highly
                                                interactive.
                                            </p>
                                        </div>
                                        <!-- Accordion Body -->
                                    </li>
                                </ul>
                                <!-- Accordion List -->

                                <div
                                    class="jos mt-[60px] flex justify-center xl:mt-20"
                                >
                                    <a
                                        href="/contact"
                                        class="btn is-blue is-rounded btn-animation is-large group"
                                        ><span
                                            >Still have questions? Contact us</span
                                        ></a
                                    >
                                </div>
                            </div>
                            <!-- FAQ Area -->
                        </div>
                        <!-- Section Container -->
                    </div>
                    <!-- Section Space -->
                </section>

                <!--...::: FAQ Section End :::... -->

                <!-- Horizontal Text Slider -->
                <div
                    class="overflow-hidden bg-[#2B13B9] py-5 font-Sora text-3xl font-semibold leading-[1.4] tracking-[1px] text-ColorHoneySuckle"
                >
                    <!-- Horizontal Slider Block-->
                    <div
                        class="horizontal-slide-from-right-to-left flex gap-x-[30px]"
                    >
                        <span class="flex whitespace-nowrap">Article </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Blog Post Creation
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Social Media Post
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Product Description
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Email Content
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap">Article </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Blog Post Creation
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Social Media Post
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Product Description
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                        <span class="flex whitespace-nowrap"
                            >Email Content
                        </span>
                        <img
                            src="/assets/img/icons/icon-honey-suckle-star-of-life.svg"
                            alt="star-of-life"
                            width="37"
                            height="35"
                        />
                    </div>
                    <!-- Horizontal Slider Block-->
                </div>
                <!-- Horizontal Text Slider -->
            </main>
        </main>
    </div>
    <!-- Simple JS to toggle the answer visibility -->
    <script is:inline>
        document.querySelectorAll("button").forEach((button) => {
            button.addEventListener("click", () => {
                const answer = button.nextElementSibling;
                if (answer.classList.contains("hidden")) {
                    answer.classList.remove("hidden");
                    button.querySelector("span:last-child").textContent = "-";
                } else {
                    answer.classList.add("hidden");
                    button.querySelector("span:last-child").textContent = "+";
                }
            });
        });
    </script>
</Layouts>