---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="main-wrapper relative overflow-hidden">
        <!--...::: 404 Section Start :::... -->
        <section class="section-404">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-default">
                    <div class=""></div>
                    <div class="mt-5 flex flex-col items-center justify-center text-center ">
                        <img src="/assets/img/th-1/404-img.svg" alt="404-img" width="200" height="150" class="mb-[30px]" />
                        <h2 class="mb-[15px] text-2xl">Page not found</h2>
                        <p class="mb-10 max-w-[374px] text-base text-ColorBlack/80">
                            The requested URL you are looking for doesn’t exist on this
                            server.
                        </p>
                        <a href="/" class="btn is-purple is-rounded btn-animation group"><span>Back To Homepage</span></a>
                    </div>
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->
        </section>
        <!--...::: 404 Section End :::... -->
    </main>
</Layout>