---
import Layouts from "../layouts/Layout.astro";
import Homebanner from "../components/Homebanner.astro";
import Services from "../components/Services.astro";
import Clients from "../components/Clients.astro";
---

<Layouts>
  <main class="main-wrapper relative overflow-hidden">
    <!--...::: Hero Section Start :::... -->
    <section class="section-hero">
        <!-- Section Background -->
        <div class="relative z-10 overflow-hidden">
            <!-- Hero Section Space -->
            <div class="pt-[105px] sm:pt-[145px] lg:pt-[185px]">
                <!-- Section Container -->
                <div class="container-default relative z-10">
                    <!-- Hero Area -->
                    <div class="text-center">
                        <h1 class="jos -trackig-[1px] mx-auto mb-6 font-PublicSans text-5xl font-bold leading-[1.06] text-[#121212] md:max-w-[80%] md:text-[60px] lg:max-w-[70%] lg:text-[70px] xl:max-w-[856px] xl:text-[90px]">
                            Grow your <span class="relative inline-block z-10 after:absolute after:left-1/2 after:top-1/2 after:-z-10 after:h-4/5 after:w-[106%] after:-translate-x-1/2 after:-translate-y-1/2 after:rounded-[5px] after:bg-[#BEF8FC] after:px-4">Charity</span> to the next level
                        </h1>
                        <p class="jos mx-auto mb-8 max-w-[658px] lg:mb-[50px]">
                            Starting a Charity can be daunting, but you can make it
                            easier with us. We're skilled in team-building strategies
                            for your Charity's success.
                        </p>
                        <div class="jos flex flex-wrap justify-center gap-[18px]">
                            <a href="/contact" class="btn is-denim is-large btn-animation group rounded-[3px]"><span>Get In Touch</span></a>
                            <a href="/services" class="btn is-outline-black is-large btn-animation group rounded-[3px]"><span>View Services</span></a>
                        </div>
                    </div>
                    <!-- Hero Area -->

                    <!-- Hero Images -->
                    <div class="-z-10 -mb-[17px] mt-[60px] grid grid-cols-1 gap-8 sm:grid-cols-2 md:flex md:gap-10 lg:gap-14">
                        <div class="jos md:rotate-[5deg]" data-jos_animation="fade-left" data-jos_delay="0.3">
                            <img src="/assets/img/edhi.png" alt="hero-img-1" width="279" height="307" class="h-full w-full rounded-[5px] object-cover md:h-auto" />
                        </div>
                        <div class="jos md:-rotate-[5deg] md:self-end" data-jos_animation="fade-left" data-jos_delay="0">
                            <img src="/assets/img/al-wahab.png" alt="hero-img-2" width="279" height="250" class="h-full w-full rounded-[5px] object-cover md:h-auto" />
                        </div>
                        <div class="jos md:rotate-[5deg] md:self-end" data-jos_animation="fade-right" data-jos_delay="0">
                            <img src="/assets/img/crf.png" alt="hero-img-3" width="279" height="250" class="h-full w-full rounded-[5px] object-cover md:h-auto" />
                        </div>
                        <div class="jos md:-rotate-[5deg]" data-jos_animation="fade-right" data-jos_delay="0.3">
                            <img src="/assets/img/banbury.png" alt="hero-img-4" width="279" height="307" class="h-full w-full rounded-[5px] object-cover md:h-auto" />
                        </div>
                    </div>
                    <!-- Hero Images -->

                    <!-- Hero Background Shape - 1 -->
                    <div class="absolute left-0 -z-10 hidden md:block lg:-top-[70px]">
                        <img src="/assets/img/elements/hero-8-content-shape.svg" alt="hero-8-content-shape" width="291" height="331" class="h-auto w-[230px] xxl:h-[331px] xxl:w-[291px]" />
                    </div>
                    <!-- Hero Background Shape - 2 -->
                    <div class="absolute top-[100px] -z-10 hidden md:block lg:right-10 xxl:right-0">
                        <img src="/assets/img/elements/home-8-dot-shape.svg" alt="home-8-dot-shape" width="126" height="275" class="h-[200px] w-auto xxl:h-[275px] xxl:w-[125px]" />
                    </div>
                    <!-- Hero Space -->
                </div>
                <!-- Section Container -->
            </div>
            <!-- Hero Background Shape - 2 -->
            <div class="absolute bottom-0 z-10 hidden w-full md:block">
                <img src="/assets/img/elements/section-devider-black.svg" alt="home-8-dot-shape" class="w-full" />
            </div>
        </div>
        <!-- Section Background -->
    </section>
    <!--...::: Hero Section End :::... -->

    <!--...::: Fact Section Start :::... -->
    <section class="section-fact">
        <!-- Section Background -->
        <div class="z-10 bg-[#121212]">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-default">
                    <!-- Fact Area -->
                    <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-[0.8fr_minmax(0,_1fr)] xl:gap-20 xxl:gap-[100px]">
                        <!-- Section Wrapper -->
                        <div>
                            <!-- Section Block -->
                            <div class="mb-5">
                                <h2 class="text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#FDFBF9] lg:text-left lg:text-5xl xl:text-[56px]">
                                    We earn trust by working efficiently
                                </h2>
                            </div>
                            <!-- Section Block -->
                        </div>
                        <!-- Section Wrapper -->
                        <!-- Fact List -->
                        <div class="grid grid-cols-1 gap-y-6 sm:grid-cols-3">
                            <!-- Fact Item -->
                            <div class="relative px-0 text-center after:absolute after:left-full after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-ColorPurple first:pl-0 last:pr-0 last:after:hidden sm:px-10 sm:after:block">
                                <div>
                                    <div class="mb-[5px] font-PublicSans text-5xl font-bold leading-[1.14] text-[#FDFBF9] xl:text-[56px]" data-module="countup">
                                        <span class="start-number" data-countup-number="09">09</span>+
                                    </div>
                                    <span class="text-[#FDFBF9]/60">Years of experience</span>
                                </div>
                            </div>
                            <!-- Fact Item -->
                            <!-- Fact Item -->
                            <div class="relative px-0 text-center after:absolute after:left-full after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-ColorPurple first:pl-0 last:pr-0 last:after:hidden sm:px-10 sm:after:block">
                                <div>
                                    <div class="mb-[5px] font-PublicSans text-5xl font-bold leading-[1.14] text-[#FDFBF9] xl:text-[56px]" data-module="countup">
                                        <span class="start-number" data-countup-number="15">15</span>+
                                    </div>
                                    <span class="text-[#FDFBF9]/60">Charities</span>
                                </div>
                            </div>
                            <!-- Fact Item -->
                            <!-- Fact Item -->
                            <div class="relative px-0 text-center after:absolute after:left-full after:top-1/2 after:hidden after:h-10 after:w-0.5 after:-translate-y-1/2 after:bg-ColorPurple first:pl-0 last:pr-0 last:after:hidden sm:px-10 sm:after:block">
                                <div>
                                    <div class="mb-[5px] font-PublicSans text-5xl font-bold leading-[1.14] text-[#FDFBF9] xl:text-[56px]" data-module="countup">
                                        <span class="start-number" data-countup-number="60">60</span>+
                                    </div>
                                    <span class="text-[#FDFBF9]/60">Project completed</span>
                                </div>
                            </div>
                            <!-- Fact Item -->
                        </div>
                        <!-- Fact List -->
                    </div>
                    <!-- Fact Area -->
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->
        </div>
        <!-- Section Background -->
    </section>
    <!--...::: Fact Section End :::... -->
    
    <!--...::: Content Section Start :::... -->
    <section class="section-content">
        <div class="relative z-10">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-default">
                    <div class="flex flex-col gap-y-20 lg:gap-y-[100px] xl:gap-y-[120px]">
                        <!-- Content Area Single -->
                        <div class="grid items-center gap-10 md:grid-cols-2 lg:gap-24 xl:gap-60">
                            <!-- Content Block Left -->
                            <div class="jos order-1 md:order-2" data-jos_animation="fade-right">
                                <!-- Section Wrapper -->
                                <div>
                                    <!-- Section Block -->
                                    <div class="mb-5">
                                        <h2 class="font-PublicSans text-4xl font-bold leading-[1.14] text-[#121212] lg:text-left lg:text-5xl xl:text-[46px]">
                                          A Trusted HMRC-Listed Software Provider for Charities and Non-Profits 
                                        </h2>
                                    </div>
                                    <!-- Section Block -->
                                </div>
                                <!-- Section Wrapper -->
                                <br class="mb-5">
                                  Techno Serve Solutions is a trusted digital marketing agency listed on the HMRC Charities Online service website (www.gov.uk).
</br></br>
                                  Our digital marketing agency is recognized by HMRC, ensuring compliance and reliability. This listing highlights our commitment to trustworthy and reliable services for charities and non-profits. With Techno Serve, you can trust our credibility and authenticity.
                                </p>
                                <hr class="mb-5" />
                                <p>
                                  Contact us today to learn how Techno Serve can potentially grow your islamic Non-Profit organization and help you make a meaningful impact.
                                  Techno Serve Ltd Company Number: <b>08655298</b>
                                </p>
                                <div class="mt-8 lg:mt-[50px]">
                                    <a href="#" class="btn is-denim is-large btn-animation group inline-block rounded-[3px]"><span>Learn More</span></a>
                                </div>
                            </div>
                            <!-- Content Block Left -->
                            <!-- Content Block Right -->
                            <div class="jos relative order-2 md:order-1" data-jos_animation="fade-left">
                                <!-- Content Image -->
                                <img src="/assets/img/hm-revenue.webp" alt="content-img-1" width="523" height="450" class="h-auto w-full rounded-[10px]" />
                                <!-- Content Shape -->
                                <img src="/assets/img/checkmark.png" alt="content-shape-1" width="150" height="50" class="jos absolute bottom-6 left-[26rem] hidden -translate-x-1/2 xl:inline-block" data-jos_animation="fade-up" data-jos_delay="0.3" />
                            </div>
                            <!-- Content Block Right -->
                        </div>
                        <!-- Content Area Single -->

                        <!-- Content Area Single -->
                        <div class="grid items-center gap-10 md:grid-cols-2 lg:gap-24 xl:gap-60">
                            <!-- Content Block Left -->
                            <div class="jos" data-jos_animation="fade-left">
                                <!-- Section Wrapper -->
                                <div>
                                    <!-- Section Block -->
                                    <div class="mb-5">
                                        <h2 class="font-PublicSans text-4xl font-bold leading-[1.14] text-[#121212] lg:text-left lg:text-5xl xl:text-[56px]">
                                            Our mission is to build your Charity
                                        </h2>
                                    </div>
                                    <!-- Section Block -->
                                </div>
                                <!-- Section Wrapper -->
                                <p>
                                    Our team of writers, developers, and influencers is
                                    ready to help to learn about starting Charity with some
                                    inspiration.
                                </p>
                                <ul class="grid lg:grid-cols-2 flex-col gap-5 font-semibold">
                                    <li>
                                        <span class="mr-3 inline-block text-xl text-ColorPurple"><i class="fa-solid fa-badge-check"></i></span>
                                        Coordinate with team
                                    </li>
                                    <li>
                                        <span class="mr-3 inline-block text-xl text-ColorPurple"><i class="fa-solid fa-badge-check"></i></span>
                                        Monitor timelines
                                    </li>
                                    <li>
                                        <span class="mr-3 inline-block text-xl text-ColorPurple"><i class="fa-solid fa-badge-check"></i></span>
                                        Share insights
                                    </li>
                                    <li>
                                        <span class="mr-3 inline-block text-xl text-ColorPurple"><i class="fa-solid fa-badge-check"></i></span>
                                        Hit all your targets
                                    </li>
                                </ul>
                            </div>
                            <!-- Content Block Left -->
                            <!-- Content Block Right -->
                            <div class="jos relative" data-jos_animation="fade-right">
                                <!-- Content Image -->
                                <img src="/assets/img/home-back.png" alt="content-img-2" width="520" height="450" class="h-auto w-full rounded-[10px]" />
                                <!-- Content Shape -->
                                <img src="/assets/img/home-front.png" alt="content-card-2" width="282" height="251" class="vert-move jos absolute bottom-6 left-[-120px] hidden rounded-lg  -translate-x-1/2 xl:inline-block" data-jos_animation="fade-up" data-jos_delay="0.3" />
                            </div>
                            <!-- Content Block Right -->
                        </div>
                        <!-- Content Area Single -->
                    </div>
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->

            <!-- Content Shape -->
            <div class="absolute hidden xl:inline-block right-[60px] top-1/3 -z-10 rotate-[29deg]">
                <img src="/assets/img/elements/home-8-dot-shape.svg" alt="home-8-dot-shape" width="126" height="275" />
            </div>
        </div>
        </div>
    </section>
    <Services />
    <!--...::: Content Section End :::... -->
 
    <!--...::: Service Section Start :::... -->
    <section class="section-service">
        <!-- Section Background -->
        <div class="relative z-10 bg-[#121212]">
            <!-- Section Space -->
            <div class="section-space">
                <!-- Section Container -->
                <div class="container-default">
                    <!-- Section Content Wrapper -->
                    <div class="jos mb-[60px] xl:mb-20">
                        <!-- Section Content Block -->
                        <div class="mx-auto flex max-w-[700px] flex-col items-center justify-center">
                            <h2 class="mb-5 text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#FDFBF9] lg:text-5xl xl:text-[56px]">
                                Great services for adding your Charity value
                            </h2>

                            <p class="text-center text-[#FDFBF9]/80">
                                We provide services that act as a startup mentor or have
                                consulting services as part of adding value proposition of
                                your Charity.
                            </p>
                        </div>
                        <!-- Section Content Block -->
                    </div>
                    <!-- Section Content Wrapper -->

                    <!-- Service Block -->
                    <div class="grid gap-x-8 gap-y-6 lg:grid-cols-2 xl:gap-x-[100px] xxl:gap-x-[146px]">
                        <!-- Service List -->
                        <div>
                            <!-- Service Item -->
                            <div class="jos border-b border-[#FDFBF9]/10 py-6 first:pt-0 lg:last:border-none lg:last:pb-0" data-jos_delay="0">
                                <a href="/services/software-development/charity-management-system" class="flex items-center justify-between gap-5 font-PublicSans text-[22px] font-semibold leading-[1.23] text-[#FDFBF9] transition-all duration-300 hover:text-ColorLime xl:text-2xl xxl:text-[26px]">
                                    1. Donation Management Software
                                    <span class="inline-block -rotate-[30deg] text-2xl"><i class="fa-light fa-arrow-right"></i></span>
                                </a>
                            </div>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <div class="jos border-b border-[#FDFBF9]/10 py-6 first:pt-0 lg:last:border-none lg:last:pb-0" data-jos_delay="0.3">
                                <a href="/services/web-development/website-development" class="flex items-center justify-between gap-5 font-PublicSans text-[22px] font-semibold leading-[1.23] text-[#FDFBF9] transition-all duration-300 hover:text-ColorLime xl:text-2xl xxl:text-[26px]">
                                    2. Charity Website Development
                                    <span class="inline-block -rotate-[30deg] text-2xl"><i class="fa-light fa-arrow-right"></i></span>
                                </a>
                            </div>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <div class="jos border-b border-[#FDFBF9]/10 py-6 first:pt-0 lg:last:border-none lg:last:pb-0" data-jos_delay="0.6">
                                <a href="/services/digital-marketing/charity-social-media-marketing" class="flex items-center justify-between gap-5 font-PublicSans text-[22px] font-semibold leading-[1.23] text-[#FDFBF9] transition-all duration-300 hover:text-ColorLime xl:text-2xl xxl:text-[26px]">
                                    3. Charity Social Media Marketing
                                    <span class="inline-block -rotate-[30deg] text-2xl"><i class="fa-light fa-arrow-right"></i></span>
                                </a>
                            </div>
                            <!-- Service Item -->
                        </div>
                        <!-- Service List -->
                        <!-- Service List -->
                        <div>
                            <!-- Service Item -->
                            <div class="jos border-b border-[#FDFBF9]/10 py-6 first:pt-0 lg:last:border-none lg:last:pb-0" data-jos_delay="0">
                                <a href="/services/digital-marketing/charity-advertising" class="flex items-center justify-between gap-5 font-PublicSans text-[22px] font-semibold leading-[1.23] text-[#FDFBF9] transition-all duration-300 hover:text-ColorLime xl:text-2xl xxl:text-[26px]">
                                    4. Charity Branding & Identity
                                    <span class="inline-block -rotate-[30deg] text-2xl"><i class="fa-light fa-arrow-right"></i></span>
                                </a>
                            </div>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <div class="jos border-b border-[#FDFBF9]/10 py-6 first:pt-0 lg:last:border-none lg:last:pb-0" data-jos_delay="0.3">
                                <a href="/services/digital-marketing/charity-search-engine-optimisation" class="flex items-center justify-between gap-5 font-PublicSans text-[22px] font-semibold leading-[1.23] text-[#FDFBF9] transition-all duration-300 hover:text-ColorLime xl:text-2xl xxl:text-[26px]">
                                    5. Charity SEO
                                    <span class="inline-block -rotate-[30deg] text-2xl"><i class="fa-light fa-arrow-right"></i></span>
                                </a>
                            </div>
                            <!-- Service Item -->
                            <!-- Service Item -->
                            <div class="jos border-b border-[#FDFBF9]/10 py-6 first:pt-0 lg:last:border-none lg:last:pb-0" data-jos_delay="0.6">
                                <a href="/services/support/website-maintenance" class="flex items-center justify-between gap-5 font-PublicSans text-[22px] font-semibold leading-[1.23] text-[#FDFBF9] transition-all duration-300 hover:text-ColorLime xl:text-2xl xxl:text-[26px]">
                                    6. Website Maintenance
                                    <span class="inline-block -rotate-[30deg] text-2xl"><i class="fa-light fa-arrow-right"></i></span>
                                </a>
                            </div>
                            <!-- Service Item -->
                        </div>
                        <!-- Service List -->
                    </div>
                    <!-- Service Block -->
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->

            <!-- Section Shape - Dot -->
            <div class="absolute top-[100px] -z-10 hidden xxl:left-[44px] xxl:inline-block">
                <img src="/assets/img/elements/home-8-dot-shape-2.svg" alt="home-8-dot-shape-2" width="332" height="244" />
            </div>

            <!-- Section Shape - Arc -->
            <div class="absolute left-0 top-0 -z-10 w-full">
                <img src="/assets/img/elements/arc-shape-black.png" alt="arc-shape-black" width="1600" height="94" class="w-full" />
            </div>
        </div>
        <!-- Section Background -->
    </section>
    <!--...::: Service Section End :::... -->
    <section class="section-video">
      <!-- Section Space -->
      <div class="section-space-bottom">
          <!-- Section Container -->
          <div class="container-default">
              <!-- Section Content Wrapper -->
              <div class="jos mb-[60px] xl:mb-20">
                  <!-- Section Content Block -->
                  <div class="mx-auto flex max-w-[700px] flex-col items-center justify-center mt-8 lg:mt-[50px]">
                      <h2 class="mb-5 text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#1212121] lg:text-5xl xl:text-[56px]">
                          Choosing us is a good decision for your Charity
                      </h2>

                      <p class="text-center">
                          We want you to unlearn everything that has been holding you
                          back. Stop waiting for that magical moment when all the
                          stars align and take that first step.
                      </p>
                  </div>
                  <!-- Section Content Block -->
              </div>
              <!-- Section Content Wrapper -->
    <!-- Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 gap-3 lg:gap-6 align-middle ">
        <!-- First Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/1.png" alt="Image 1" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Second Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/2.png" alt="Image 2" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Third Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/9.png" alt="Image 3" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Fourth Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/3.png" alt="Image 4" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Fifth Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/6.png" alt="Image 5" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Sixth Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/7.png" alt="Image 6" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Seventh Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/8.png" alt="Image 7" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Eighth Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/4.png" alt="Image 8" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Ninth Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/5.png" alt="Image 9" class="w-full h-auto rounded-lg" />
        </div>
      
        <!-- Tenth Div with Image -->
        <div class="p-4 md:p-7 bg-gray-100 rounded-lg">
          <img src="/assets/img/client/10.png" alt="Image 10" class="w-full h-auto rounded-lg" />
        </div>
      </div>
      
    <!-- End Grid -->
            
          </div>
          <!-- Section Container -->
      </div>
      <!-- Section Space -->
  </section>
 
    <!--...::: Content Section Start :::... -->
    <section class="section-content">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-default">
                <div class="flex flex-col gap-y-20 lg:gap-y-[100px] xl:gap-y-[120px]">
                    <!-- Content Area Single -->
                    <div class="grid items-center gap-10 md:grid-cols-2 lg:gap-24 xl:gap-60">
                        <!-- Content Block Left -->
                        <div class="jos" data-jos_animation="fade-right">
                            <!-- Section Wrapper -->
                            <div>
                                <!-- Section Block -->
                                <div class="mb-5">
                                    <h2 class="font-PublicSans text-4xl font-bold leading-[1.14] text-[#121212] lg:text-left lg:text-5xl xl:text-[56px]">
                                        What Drive Us, Our Core Values
                                    </h2>
                                </div>
                                <!-- Section Block -->
                            </div>
                            <!-- Section Wrapper -->
                            <p class="mb-5">
                                At Techno Serve, we are driven by transparency, flexibility, and a value-driven approach. Our proactive strategies ensure that we deliver impactful digital marketing solutions for Islamic charities in the UK.
                            </p>
                            <div class="mt-8 lg:mt-[50px]">
                                <a href="#" class="btn is-denim is-large btn-animation group inline-block rounded-[3px]"><span>Get Started</span></a>
                            </div>
                        </div>
                        <!-- Content Block Left -->
                        <!-- Content Block Right -->
                        <div class="jos" data-jos_animation="fade-left">
                            <!-- Content Image -->
                            <img src="/assets/img/steps.png" alt="content-img-3" width="636" height="501" />
                        </div>
                        <!-- Content Block Right -->
                    </div>
                    <!-- Content Area Single -->
                </div>
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!--...::: Content Section End :::... -->

    <!-- Background Shape -->
    <div class="absolute -z-10 hidden xl:left-10 xl:top-[52%] xl:inline-block xxl:left-[90px] xxl:top-[49%]">
        <img src="/assets/img/elements/home-8-dot-shape-3.svg" alt="home-8-dot-shape-3" width="209" height="297" />
    </div>
    <!-- Background Shape -->

    <!--...::: Video Section Start :::... -->
    <section class="section-video">
        <!-- Section Space -->
        <div class="section-space-bottom">
            <!-- Section Container -->
            <div class="container-default">
                <!-- Section Content Wrapper -->
                <div class="jos mb-[60px] xl:mb-20">
                    <!-- Section Content Block -->
                    <div class="mx-auto flex max-w-[700px] flex-col items-center justify-center">
                        <h2 class="mb-5 text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#1212121] lg:text-5xl xl:text-[56px]">
                            Choosing us is a good decision for your Charity
                        </h2>

                        <p class="text-center">
                            We want you to unlearn everything that has been holding you
                            back. Stop waiting for that magical moment when all the
                            stars align and take that first step.
                        </p>
                    </div>
                    <!-- Section Content Block -->
                </div>
                <!-- Section Content Wrapper -->

                <!-- Video Block -->
                <div class="jos">
                    <div class="relative flex items-center justify-center">
                        <img src="/assets/img/video-home.png" alt="video-img" width="1296" height="620" class="h-auto w-full" />
        <a data-fslightbox="gallery" href="https://www.youtube.com/embed/o998XR09kIk?si=eTa88wsMI2yjcpTU" class="group group absolute flex h-[70px] w-[70px] items-center justify-center rounded-[50%] bg-[#FF0000] text-white" aria-label="video-play">
                            <span class="text-2xl transition-all duration-300 ease-linear group-hover:scale-110"><i class="fa-solid fa-play"></i></span>
                        </a>
                    </div>
                </div>
                <!-- Video Block -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!--...::: Video Section End :::... -->

    <!-- Horizontal Text Slider -->
    <div class="overflow-hidden bg-[#121212] py-5 text-3xl font-bold uppercase leading-[1.4] tracking-widest text-white">
        <!-- Horizontal Slider Block-->
        <div class="horizontal-slide-from-right-to-left flex gap-x-[30px]">
            <span class="flex whitespace-nowrap">Transform your charity: Try iCHARMS free for 3 months!
            </span>
            <img src="/assets/img/icons/icon-purple-flash.svg" alt="arm-icon" width="28" height="35" />
            <span class="flex whitespace-nowrap">Transform your charity: Try iCHARMS free for 3 months!
            </span>
            <img src="/assets/img/icons/icon-purple-flash.svg" alt="arm-icon" width="28" height="35" />
            <span class="flex whitespace-nowrap">Transform your charity: Try iCHARMS free for 3 months!
            </span>
            <img src="/assets/img/icons/icon-purple-flash.svg" alt="arm-icon" width="28" height="35" />
            <span class="flex whitespace-nowrap">Transform your charity: Try iCHARMS free for 3 months!
            </span>
            <img src="/assets/img/icons/icon-purple-flash.svg" alt="arm-icon" width="28" height="35" />
        </div>
        <!-- Horizontal Slider Block-->
    </div>
    <!-- Horizontal Text Slider -->

    <!--...::: Pricing Section Start :::... -->

    <!--...::: Pricing Section End :::... -->

    <!-- Background Shape -->
    <div class="absolute -z-10 hidden xl:left-10 xl:inline-block xxl:left-[90px] xxl:top-[75%]">
        <img src="/assets/img/elements/home-8-dot-shape-5.svg" alt="home-8-dot-shape-5" width="97" height="226" />
    </div>
    <!-- Background Shape -->

    <!--...::: Team Section Start :::... -->
    <section class="section-team">
        <!-- Section Space -->
        <div class="section-space-bottom">
            <!-- Section Container -->
            <div class="container-default mt-16">
                <!-- Team Area -->
                <div class="grid grid-cols-1 items-center gap-10 lg:grid-cols-[0.75fr_minmax(0,_1fr)] xl:gap-20 xxl:gap-[134px]">
                    <!-- Content Block Left -->
                    <div class="jos" data-jos_animation="fade-right">
                        <!-- Section Wrapper -->
                        <div>
                            <!-- Section Block -->
                            <div class="mb-5">
                                <h2 class="font-PublicSans text-4xl font-bold leading-[1.14] text-[#121212] lg:text-left lg:text-5xl xl:text-[56px]">
                                    Meet members of our creative team
                                </h2>
                            </div>
                            <!-- Section Block -->
                        </div>
                        <!-- Section Wrapper -->
                        <p class="mb-5">
                            We work to create the most attractive & meaningful place for
                            small Charityes. Our Team always ready to help you.
                        </p>
                        <ul class="flex flex-col gap-5 font-semibold">
                            <li>
                                <span class="mr-3 inline-block text-xl text-ColorPurple"><i class="fa-solid fa-badge-check"></i></span>
                                A team consisting of skilled members
                            </li>
                            <li>
                                <span class="mr-3 inline-block text-xl text-ColorPurple"><i class="fa-solid fa-badge-check"></i></span>
                                Ready to help you 24/7 email & phone support
                            </li>
                        </ul>
                        <div class="mt-8 lg:mt-[50px]">
                            <a href="/contact" class="btn is-denim is-large btn-animation group inline-block rounded-[3px]"><span>Contact Our Team</span></a>
                        </div>
                    </div>
                    <!-- Content Block Left -->

                    <!-- Team List -->
                    <div class="jos" data-jos_animation="fade-left">
                        <div class="grid grid-cols-1 gap-x-6 gap-y-[30px] sm:grid-cols-2 md:grid-cols-3">
                             <!-- Team Item -->
                    <div
                    class="group flex flex-col items-center justify-center text-center"
                  >
                    <div
                      class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-2" 
                    >
                      <img
                        src="/assets/img/teams/hussain.png"
                        alt="team-img-1"
                        width="196"
                        height="196"
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div>
                      <div
                        class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark">Hussain Shaikh</div>
                      <span>Chief Development Officer</span>
                    </div>
                  </div>
                  <!-- Team Item -->
                   <!-- Team Item -->
                   <div
                   class="group flex flex-col items-center justify-center text-center"
                 >
                   <div
                     class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-2" 
                   >
                     <img
                       src="/assets/img/teams/anwar.png"
                       alt="team-img-1"
                       width="196"
                       height="196"
                       class="h-full w-full object-cover"
                     />
                   </div>
                   <div>
                     <div class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark">
                     Anwarul <br>Islam Momin</div> <span>Technical Lead</span>
                   </div>
                 </div>
                 <!-- Team Item -->
                     <!-- Team Item -->
                     <div
                     class="group flex flex-col items-center justify-center text-center"
                   >
                     <div
                       class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-2" 
                     >
                       <img
                         src="/assets/img/teams/mubin.png"
                         alt="team-img-1"
                         width="196"
                         height="196"
                         class="h-full w-full object-cover"
                       />
                     </div>
                     <div>
                       <div
                         class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark"
                       >
                       Mubin <br> Sayyed  </div>
                                    <span>Technical Lead</span>
                     </div>
                   </div>
                   <!-- Team Item -->
                       <!-- Team Item -->
                   <div
                   class="group flex flex-col items-center justify-center text-center"
                 >
                   <div
                     class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-2" 
                   >
                     <img
                       src="/assets/img/teams/shehzad.png"
                       alt="team-img-1"
                       width="196"
                       height="196"
                       class="h-full w-full object-cover"
                     />
                   </div>
                   <div>
                     <div class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark">Shezad Ali <br>Khan</div> <span>Cheif Marketing Officer</span>
                   </div>
                 </div>
                 <!-- Team Item -->
                     <!-- Team Item -->
                     <div
                     class="group flex flex-col items-center justify-center text-center"
                   >
                     <div
                       class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-2" 
                     >
                       <img
                         src="/assets/img/teams/qasim.png"
                         alt="team-img-1"
                         width="196"
                         height="196"
                         class="h-full w-full object-cover"
                       />
                     </div>
                     <div>
                       <div
                         class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark"
                       >
                       Qasim Farooqi   </div>
                                    <span>Digital Marketing Manager</span>
                     </div>
                   </div>
                   <!-- Team Item -->
                       <!-- Team Item -->
                   <div
                   class="group flex flex-col items-center justify-center text-center"
                 >
                   <div
                     class="mb-6 h-auto max-w-full overflow-hidden rounded-xl border-2" 
                   >
                     <img
                       src="/assets/img/teams/abrar.png"
                       alt="team-img-1"
                       width="196"
                       height="196"
                       class="h-full w-full object-cover"
                     />
                   </div>
                   <div>
                     <div
                       class="mb-[5px] block text-xl font-semibold leading-[1.4] text-ColorDark"
                     >Abrar Ahmed<br> Khan</div>
                                  <span>Digital Team Lead</span>
                   </div>
                 </div>
                 <!-- Team Item -->
                      
                        </div>
                    </div>
                    <!-- Team List -->
                </div>
                <!-- Team Area -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!--...::: Team Section End :::... -->

    <!--...::: Blog Section Start :::... -->
    <section class="section-blog">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-default">
                <!-- Section Content Wrapper -->
                <div class="jos mb-[60px] xl:mb-20">
                    <!-- Section Content Block -->
                    <div class="mx-auto max-w-[640px]">
                        <div class="mb-5">
                            <h2 class="mb-5 text-center font-PublicSans text-4xl font-bold leading-[1.14] text-[#1212121] lg:text-5xl xl:text-[56px]">
                                Browse our articles and resources to learn more
                            </h2>
                        </div>
                        <p class="text-center">
                            A lot of information is given in our blogs. You can learn
                            more about startup by reading our blogs. It’s time to
                            brainstorm ideas for your Charity
                        </p>
                    </div>
                    <!-- Section Content Block -->
                </div>
                <!-- Section Content Wrapper -->

                <!-- Blog List -->
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
                    <!-- Blog Item -->
                    <div class="jos" data-jos_animation="flip-left">
                        <div class="group h-full rounded-[5px] border border-[#121212] p-5">
                            <!-- Blog Image -->
                            <div class="relative overflow-hidden rounded-[5px]">
                                <a href="blog-details.html" class="block">
                                    <img src="/assets/img/blog-1.png" alt="blog-img-1" width="376" height="280" class="h-auto w-full transition-all duration-300 group-hover:scale-105" />
                                </a>
                                <a href="#" class="absolute right-[10px] top-[10px] inline-block rounded-[3px] bg-[#FDFBF9] px-5 py-[10px] text-base font-bold hover:bg-ColorLime">
Marketing                                </a>
                            </div>
                            <div class="mt-6">
                                <!-- Post Meta -->
                                <div class="mb-[15px] flex flex-col gap-x-[15px] gap-y-2 text-base font-bold xl:flex-row">
                                    <a href="#" class="flex gap-[10px] hover:text-ColorPurple">
                                        <span class="text-lg"><i class="fa-regular fa-circle-user"></i></span>
Techno Serve                                    </a>
                                    <a href="#" class="flex gap-[10px] hover:text-ColorPurple">
                                        <span class="text-lg"><i class="fa-light fa-calendar"></i></span>
                                        Feb 28, 2023
                                    </a>
                                </div>
                                <a href="/blog" class="mb-[30px] block font-PublicSans font-bold leading-[1.35] text-[#121212] group-hover:text-ColorPurple xl:text-2xl xxl:text-[28px]">A Comprehensive Guide to HTTP 500 Server Error Codes
                                </a>

                                <a href="service-details.html" class="mt-auto inline-flex items-center gap-x-2 text-base font-bold text-[#121212] hover:text-ColorPurple">Read more
                                    <span class="transition-all duration-300 ease-in-out hover:translate-x-2">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item -->
                      <!-- Blog Item -->
                    <div class="jos" data-jos_animation="flip-left">
                        <div class="group h-full rounded-[5px] border border-[#121212] p-5">
                            <!-- Blog Image -->
                            <div class="relative overflow-hidden rounded-[5px]">
                                <a href="blog-details.html" class="block">
                                    <img src="/assets/img/blog-2.png" alt="blog-img-1" width="376" height="280" class="h-auto w-full transition-all duration-300 group-hover:scale-105" />
                                </a>
                                <a href="#" class="absolute right-[10px] top-[10px] inline-block rounded-[3px] bg-[#FDFBF9] px-5 py-[10px] text-base font-bold hover:bg-ColorLime">
Agency                                </a>
                            </div>
                            <div class="mt-6">
                                <!-- Post Meta -->
                                <div class="mb-[15px] flex flex-col gap-x-[15px] gap-y-2 text-base font-bold xl:flex-row">
                                    <a href="#" class="flex gap-[10px] hover:text-ColorPurple">
                                        <span class="text-lg"><i class="fa-regular fa-circle-user"></i></span>
Techno Serve                                    </a>
                                    <a href="#" class="flex gap-[10px] hover:text-ColorPurple">
                                        <span class="text-lg"><i class="fa-light fa-calendar"></i></span>
                                        Feb 28, 2023
                                    </a>
                                </div>
                                <a href="/blog" class="mb-[30px] block font-PublicSans font-bold leading-[1.35] text-[#121212] group-hover:text-ColorPurple xl:text-2xl xxl:text-[28px]">Top SEO Strategies to Focus A Comprehensive Guide by Techno Serve Solutions</a>

                                <a href="service-details.html" class="mt-auto inline-flex items-center gap-x-2 text-base font-bold text-[#121212] hover:text-ColorPurple">Read more
                                    <span class="transition-all duration-300 ease-in-out hover:translate-x-2">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item --> <!-- Blog Item -->
                    <div class="jos" data-jos_animation="flip-left">
                        <div class="group h-full rounded-[5px] border border-[#121212] p-5">
                            <!-- Blog Image -->
                            <div class="relative overflow-hidden rounded-[5px]">
                                <a href="blog-details.html" class="block">
                                    <img src="/assets/img/blog-3.png" alt="blog-img-1" width="376" height="280" class="h-auto w-full transition-all duration-300 group-hover:scale-105" />
                                </a>
                                <a href="#" class="absolute right-[10px] top-[10px] inline-block rounded-[3px] bg-[#FDFBF9] px-5 py-[10px] text-base font-bold hover:bg-ColorLime">
Business                                </a>
                            </div>
                            <div class="mt-6">
                                <!-- Post Meta -->
                                <div class="mb-[15px] flex flex-col gap-x-[15px] gap-y-2 text-base font-bold xl:flex-row">
                                    <a href="#" class="flex gap-[10px] hover:text-ColorPurple">
                                        <span class="text-lg"><i class="fa-regular fa-circle-user"></i></span>
Techno Serve                                    </a>
                                    <a href="#" class="flex gap-[10px] hover:text-ColorPurple">
                                        <span class="text-lg"><i class="fa-light fa-calendar"></i></span>
                                        Feb 28, 2023
                                    </a>
                                </div>
                                <a href="/blog" class="mb-[30px] block font-PublicSans font-bold leading-[1.35] text-[#121212] group-hover:text-ColorPurple xl:text-2xl xxl:text-[28px]">Comparing Above-The-Line vs Below-The-Line Marketing Strategies</a>

                                <a href="service-details.html" class="mt-auto inline-flex items-center gap-x-2 text-base font-bold text-[#121212] hover:text-ColorPurple">Read more
                                    <span class="transition-all duration-3  00 ease-in-out hover:translate-x-2">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item -->
                   
                </div>
                <!-- Blog List -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!--...::: Blog Section End :::... -->
</main>
<style>
    img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
img.vert-move {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
        0% { transform: translateY(0); }
    100% { transform: translateY(-100px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

</style>
</Layouts>
