---

---

<header
  class="site-header site-header--absolute is--white py-3"
  id="sticky-menu"
>
  <div class="container-default">
    <div class="flex items-center justify-between gap-x-8">
      <!-- Header Logo -->
      <a href="/" class="">
        <img src="/assets/img/logo.png" alt="Techno" width="70" height="70" />
      </a>
      <!-- Header Logo -->

      <!-- Header Navigation -->
      <div class="menu-block-wrapper">
        <div class="menu-overlay"></div>
        <nav class="menu-block" id="append-menu-header">
          <div class="mobile-menu-head">
            <div class="go-back">
              <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="current-menu-title"></div>
            <div class="mobile-menu-close">&times;</div>
          </div>
          <ul class="site-menu-main">
            <li class="nav-item">
              <a href="/" class="nav-link-item">Home</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link-item">About Us</a>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="/services" class="nav-link-item drop-trigger"
                >Services <i class="fa-solid fa-angle-down"></i>
              </a>
              <ul class="sub-menu" id="submenu-3">
                <li class="sub-menu--item nav-item-has-children">
                  <a
                    href="/services#web-development"
                    data-menu-get="h3"
                    class="drop-trigger"
                  >
                    Website Development <i class="fa-solid fa-angle-right"
                    ></i></a
                  >
                  <ul class="sub-menu shape-none" id="submenu-4">
                    <li class="sub-menu--item">
                      <a href="/services/web-development/website-development"
                        >Web Development</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a href="/services/web-development/wordpress-development"
                        >Wordpress Development</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a
                    href="/services#web-designing"
                    data-menu-get="h3"
                    class="drop-trigger"
                    >Web Designing
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-5">
                    <li class="sub-menu--item">
                      <a href="/services/web-designing/website-redesigning"
                        >Website Redesigning
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="/services/web-designing/template-designing"
                        >Template Designing</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a href="/services/web-designing/landingpage-designing"
                        >Landing Page Designing</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a
                    href="/services#software-development"
                    data-menu-get="h3"
                    class="drop-trigger"
                    >Software Development
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-6">
                    <li class="sub-menu--item">
                      <a
                        href="/services/software-development/charity-management-system"
                        >Charity Management System</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a
                        href="/services/software-development/school-management-system"
                        >School Management System</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a
                        href="/services/software-development/logistic-management-system"
                        >Logistic Management System</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a
                    href="/services#digital-marketing"
                    data-menu-get="h3"
                    class="drop-trigger"
                    >Digital Marketing
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-7">
                    <li class="sub-menu--item">
                      <a href="/services/digital-marketing/charity-advertising"
                        >Charity Advertising</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a
                        href="/services/digital-marketing/charity-search-engine-optimisation"
                        >Charity Search Engine Optimisation</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a
                        href="/services/digital-marketing/charity-social-media-optimisation"
                        >Charity Social Media Optimisation</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a
                        href="/services/digital-marketing/charity-ads-remarketing"
                        >Charity Ads Remarketing</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a
                        href="/services/digital-marketing/charity-content-marketing"
                        >Charity Content Marketing</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a
                    href="/services#designing"
                    data-menu-get="h3"
                    class="drop-trigger"
                  >
                    Designing
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-8">
                    <li class="sub-menu--item">
                      <a href="/services/designing/web-ui-ux-design"
                        >Website UI & UX Design</a
                      >
                    </li>
                    <li class="sub-menu--item">
                      <a href="/services/designing/wordpress-theme-design"
                        >WordPress Theme Design</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="sub-menu--item nav-item-has-children">
                  <a
                    href="/services#support"
                    data-menu-get="h3"
                    class="drop-trigger"
                  >
                    Support
                    <i class="fa-solid fa-angle-right"></i>
                  </a>
                  <ul class="sub-menu shape-none" id="submenu-9">
                    <li class="sub-menu--item">
                      <a href="/services/support/website-maintenance"
                        >Website Maintenance</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link-item" href="/our-clients-case-studies">
                Our Clients</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link-item" href="/career"> Career</a>
            </li>
            <li class="nav-item nav-item-has-children">
              <a href="/contact" class="nav-link-item drop-trigger">Contact </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Header Navigation -->

      <!-- Header User Event -->
      <div class="flex items-center gap-6">
        <!-- <a href="login.html" class="btn-text hidden hover:text-ColorPurple sm:inline-block">Login</a>
                        <a href="signup.html" class="btn is-black btn-animation group hidden rounded sm:inline-block"><span>Sign up free</span></a> -->
        <!-- Responsive Offcanvas Menu Button -->
        <div class="block lg:hidden">
          <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
      <!-- Header User Event -->
    </div>
  </div>
</header>
<!--...::: Header End :::... -->
